/*
Theme Name: Baseline
Theme URI: https://arraythemes.com/themes/baseline-wordpress-theme/
Author: Array
Author URI: https://arraythemes.com/
Description: Baseline is an elegant, magazine-style theme that lets you quickly and easily create a beautiful site with any content. Baseline includes one, two and three column layouts, a customizable logo and header, finely-crafted typography and a snappy featured content drawer.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: baseline
Domain Path: /languages/
Tags: two-columns, featured-image-header, featured-images, theme-options, custom-background, custom-colors, custom-menu, editor-style, featured-images, theme-options, translation-ready

(C) 2015 Array, Inc.
*/
/* --------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Form Elements
5.0 - Navigation
5.1 - Links
5.2 - Menus
5.3 - Social Menu
5.4 - Post Navigation
5.5 - Page Navigation
5.6 - Toggle Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Comments
11.0 - Infinite scroll
12.0 - Masonry
13.0 - Media
14.0 - Header
15.0 - Content
16.0 - Posts
17.0 - Footer
18.0 - Attachments
19.0 - Animations
-------------------------------------------------------------- */
/* Import Baseline Sass Variables (inc/sass/variables.scss) */
/* These variables are used througout style.scss. */
/* Serif body font styles */
/* Serif title font styles */
/* Sans-serif body font styles */
/* Sans-serif title font styles */
/* Color variables */
/* Responsive media query mixins */
/* Styles for small text with uppercase font style. Used on dates and post meta */
/* Use hex with RGBA */
/* --------------------------------------------------------------
1.0 - Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #fff;
  padding-top: 64px;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 600px) {
  body {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  body.admin-bar {
    position: static;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

a img {
  border: 0;
}

/* --------------------------------------------------------------
2.0 Typography
-------------------------------------------------------------- */
body, button, input, select, textarea {
  color: #283037;
  font-family: "Noto Serif", "Georgia", serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.8;
}
body.sans-serif, .sans-serif body, button.sans-serif, .sans-serif button, input.sans-serif, .sans-serif input, select.sans-serif, .sans-serif select, textarea.sans-serif, .sans-serif textarea {
  font-family: "Noto Sans", "Helvetica", sans-serif;
}
@media (max-width: 800px) {
  body, button, input, select, textarea {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  body, button, input, select, textarea {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #283037;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 3%;
}
.sans-serif h1, .sans-serif h2, .sans-serif h3, .sans-serif h4, .sans-serif h5, .sans-serif h6 {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}

h1 {
  font-size: 50px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
}
@media (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;
}
@media (max-width: 600px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 22px;
}
@media (max-width: 600px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
}
@media (max-width: 600px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 16px;
}
@media (max-width: 600px) {
  h6 {
    font-size: 14px;
  }
}

p, .embed-vimeo {
  margin-bottom: 1.4em;
}
@media (max-width: 600px) {
  p, .embed-vimeo {
    margin-bottom: 1.2em;
  }
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  color: #283037;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 24px;
  line-height: 1.6;
  margin: 0 0 1.4em 0;
  position: relative;
  padding: 0 0 0 50px;
}
.sans-serif blockquote {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
blockquote:before {
  background: url(images/screen-half.png);
  height: 20px;
  display: inline-block;
  width: 100%;
}
@media (max-width: 600px) {
  blockquote:before {
    height: 18px;
  }
}
blockquote:after {
  content: "\201C";
  font-family: Georgia, serif;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60px;
  line-height: 1.1;
}
@media (max-width: 600px) {
  blockquote:after {
    font-size: 48px;
    line-height: 1;
  }
}
@media (max-width: 600px) {
  blockquote {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 10%;
  }
  blockquote:before {
    font-size: 65px;
    top: 10px;
  }
}
blockquote p {
  margin-bottom: 1em;
}

.comments-area blockquote {
  border-left-color: #D7DEE5;
  font-family: "Noto Serif", "Georgia", serif;
  font-size: 18px;
  font-style: italic;
}
.sans-serif .comments-area blockquote {
  font-family: "Noto Sans", "Helvetica", sans-serif;
}
@media (max-width: 800px) {
  .comments-area blockquote {
    font-size: 16px;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f0f0f0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.comments-area pre {
  background: #d7dee5;
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.highlight {
  background: #fff198;
}

#page .grid-thumb .more-link {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  border-bottom: none;
  border-top: dotted 1px #ADBDCC;
  margin-top: 15px;
  padding-top: 15px;
}
#page .grid-thumb .more-link:hover {
  color: #6F7F8D;
}

#page .excerpt-more-link,
#page .more-link {
  font-weight: bold;
  color: #283037;
  border: none;
}
#page .excerpt-more-link:hover,
#page .more-link:hover {
  color: #66727D;
}

/* --------------------------------------------------------------
3.0 Elements
-------------------------------------------------------------- */
hr {
  background-color: transparent;
  border: 0;
  border-bottom: dotted 1px #c7d6e4;
  height: 1px;
  margin: 1.6em 0;
}

ul, ol {
  margin: 0 0 1.4em 25px;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

ul ul, ol ol, ul ol, ol ul {
  margin: .6em 0 .6em 1.5em;
}

.entry-content li {
  margin-bottom: 2%;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

/* Tables */
table {
  font-size: 18px;
  margin-bottom: 5%;
  padding: 0;
  width: 100%;
}
@media (max-width: 800px) {
  table {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  table {
    font-size: 16px;
  }
}

table thead {
  background: #f0f0f0;
}
table thead th {
  font-weight: bold;
}

table td, #content table th {
  padding: 10px;
}

table td {
  border-bottom: solid 1px #f0f0f0;
}

table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background: #f0f0f0;
}

/* --------------------------------------------------------------
4.0 Form Elements
-------------------------------------------------------------- */
button,
input:not(input[type="radio"]),
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.comment-navigation a {
  background: #283037;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Noto Serif", "Georgia", serif;
  font-size: 17px;
  font-weight: 600;
  padding: 14px 20px;
  -webkit-appearance: none;
  transition: .1s ease-in;
}
.sans-serif button, .sans-serif
input[type="button"], .sans-serif
input[type="reset"], .sans-serif
input[type="submit"], .sans-serif
.button, .sans-serif
.comment-navigation a {
  font-family: "Noto Sans", "Helvetica", sans-serif;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.comment-navigation a:hover {
  background: #37414A;
  color: #fff;
  cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
.button:focus,
.comment-navigation a:focus,
.comment-navigation a:hover {
  color: #fff;
  outline: none;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.searchform {
  position: relative;
}

.searchform #s {
  width: 100%;
  font-size: 16px;
}

.searchform #searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
  color: #627083;
  padding: 14px 15px;
  font-size: 15px;
}
.searchform #searchsubmit i {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-size: 16px;
  vertical-align: top;
}

@media (max-width: 800px) {
  .searchform #searchsubmit span {
    display: none;
  }
}
.widget-area .searchform #searchsubmit span {
  display: none;
}

select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  width: 100%;
  -webkit-appearance: normal;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
#secondary #subscribe-email input[type="email"] {
  color: #7c8a96;
  background: #fff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-appearance: none;
  padding: 12px 15px;
  border: solid 1px #D4DDE5;
  border-radius: 2px;
  transition: .1s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
#secondary #subscribe-email input[type="email"]:focus {
  border: solid 1px #C5CDD5;
  outline: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

select {
  background: #fff url("images/angle-down.jpg") right no-repeat;
  background-size: 12px;
  background-position: right 15px top 20px;
}
select:hover {
  border-color: #D5DDE4;
  cursor: pointer;
}

select:after {
  content: "x";
}

@media (max-width: 800px) {
  input[name="post_password"] {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
}

::-webkit-input-placeholder {
  color: #97A7B5;
}

:-moz-placeholder {
  color: #97A7B5;
}

::-moz-placeholder {
  color: #97A7B5;
}

:-ms-input-placeholder {
  color: #97A7B5;
}

#main .contact-form {
  display: inline-block;
  width: 100%;
}
#main .contact-form label {
  font-weight: normal;
}
#main .contact-form input[type='text'], #main .contact-form input[type='email'] {
  margin-bottom: 4%;
  width: 100%;
  max-width: 100%;
}
#main .contact-form textarea {
  margin-bottom: 4%;
  width: 98%;
}
#main .contact-form .contact-submit {
  margin-bottom: 0;
}

/* --------------------------------------------------------------
5.0 Navigation
-------------------------------------------------------------- */
/* --------------------------------------------------------------
5.1 Links
-------------------------------------------------------------- */
a {
  color: #62707c;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #343E47;
}

/* --------------------------------------------------------------
5.2 Menus
-------------------------------------------------------------- */
.slideout-menu {
  background: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 40%;
  padding: 9% 5% 5% 5%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
}
@media only screen and (max-width: 1200px) {
  .slideout-menu {
    padding-top: 11%;
  }
}
@media (max-width: 800px) {
  .slideout-menu {
    padding: 14% 5% 12% 5%;
    width: 50%;
  }
}
@media (max-width: 600px) {
  .slideout-menu {
    padding-top: 16%;
    width: 100%;
  }
}

.admin-bar .slideout-menu {
  top: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar .slideout-menu {
    top: 46px;
  }
}

.slideout-menu {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
}
@media (max-width: 600px) {
  .slideout-menu {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.rtl .slideout-menu {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

@media (max-width: 800px) {
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
}

.slideout-open .slideout-menu {
  display: block;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  display: inline-block;
  position: relative;
  z-index: 20;
}
.menu-toggle i:before {
  content: "\f0c9";
}

.menu-active i:before {
  content: "\f00d";
}

.main-navigation {
  text-align: center;
  font-size: 17px;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 500;
  background: #fff;
  display: inline-block;
  width: 100%;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
}
.main-navigation .menu > li {
  margin-bottom: -1px;
}
@media (max-width: 800px) {
  .main-navigation {
    display: none;
  }
}
.sans-serif .main-navigation {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
.sans-serif .main-navigation .menu > li {
  margin-bottom: 0;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
}
.main-navigation li {
  display: inline-block;
  position: relative;
}
.main-navigation li a {
  padding: 25px 20px;
  display: inline-block;
  color: #283037;
  transition: .1s ease-in-out;
}
.main-navigation li a:hover {
  color: #66727D;
  background: #343e47;
}
.main-navigation .menu-item-has-children > a:after {
  content: "\f107";
  font-family: "FontAwesome";
  margin-left: 6px;
}
.main-navigation .sub-menu .menu-item-has-children > a:after {
  content: "\f105";
  float: right;
}
.rtl .main-navigation .sub-menu .menu-item-has-children > a:after {
  content: "\f104";
  float: left;
}

.main-navigation .sub-menu,
.main-navigation .children {
  position: absolute;
  width: 265px;
  top: 80px;
  left: 0px;
  text-align: left;
  margin: 0;
  background: #343e47;
  z-index: 50;
  display: none;
}
.main-navigation .sub-menu:before,
.main-navigation .children:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #283037;
  position: absolute;
  top: -5px;
  left: 20px;
  content: " ";
  display: none;
}
@media (max-width: 800px) {
  .main-navigation .sub-menu:before,
  .main-navigation .children:before {
    display: none;
  }
}

.main-navigation li ul {
  z-index: 100;
}

.main-navigation li ul li {
  padding: 0;
  width: 100%;
}

.main-navigation li ul a,
.main-navigation li ul li a {
  width: 100%;
  display: inline-block;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  line-height: 1.6;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.main-navigation li ul a:hover,
.main-navigation li ul li a:hover {
  color: #fff;
}

.main-navigation li ul li ul {
  padding: 0;
}

.main-navigation ul ul {
  top: 0;
}

.main-navigation li ul ul.sub-menu,
.main-navigation li ul ul.children {
  left: 265px;
  top: 0;
  margin: 0;
  z-index: 20;
  position: absolute;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
.main-navigation li ul ul.sub-menu:before,
.main-navigation li ul ul.children:before {
  display: none;
}

.main-navigation .menu > li {
  margin-left: -5px;
}

.main-navigation li:hover > a {
  background: #343e47;
  color: #fff;
}

.main-navigation .sub-menu li:hover > a {
  background: rgba(0, 0, 0, 0.1);
}

.main-navigation li:hover > ul,
.main-navigation li li a:hover > ul {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.sidebar-navigation {
  font-size: 20px;
  font-family: "Playfair Display", "Georgia", serif;
  display: block;
  margin: 0;
}
.sans-serif .sidebar-navigation {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
@media (max-width: 600px) {
  .sidebar-navigation {
    font-size: 16px;
    font-weight: 500;
  }
}

.sidebar-navigation .menu {
  display: inline-block;
  width: 100%;
}

.sidebar-navigation ul {
  margin: 0 0 0 0;
}
.sidebar-navigation ul li {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}
.sidebar-navigation ul li a {
  color: #283037;
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  transition: .2s ease;
  border-bottom: dotted 1px #ccc;
}
.sidebar-navigation ul li a:hover {
  color: #66727D;
}
.sidebar-navigation ul ul li {
  border-bottom-color: #B9B9B9;
}
.sidebar-navigation ul:not(.sub-menu) > li:last-child a {
  border-bottom: none;
}

.sidebar-navigation .sub-menu,
.sidebar-navigation .children {
  margin: 0;
  padding: 0 5%;
  position: relative;
  z-index: 30;
  background: #E4E4E4;
  display: none;
  font-size: 16px;
}

.menu-item-has-children .toggle-sub {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  height: 98%;
  z-index: 20;
  width: 50px;
  display: block;
  text-align: center;
  line-height: 2.8;
  background: #E4E4E4;
}
@media (max-width: 800px) {
  .menu-item-has-children .toggle-sub {
    font-size: 19px;
  }
}

.menu-item-has-children .toggle-sub:hover {
  cursor: pointer;
  color: #283037;
}

.sub-menu .menu-item-has-children .toggle-sub {
  line-height: 3.2;
}

.site-header .menu-item-has-children:hover {
  cursor: pointer;
}

.drop-open > .sub-menu {
  display: block;
}

.mobile-menu {
  display: none;
}
@media (max-width: 800px) {
  .mobile-menu {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .sidebar-navigation > div:not(:last-child):after {
    content: " ";
    background: url(images/screen-half.png);
    height: 12px;
    display: inline-block;
    width: 100%;
  }
}

/* --------------------------------------------------------------
5.3 Social Navigations
-------------------------------------------------------------- */
.social-navigation {
  display: inline-block;
  vertical-align: top;
  float: right;
}
@media (max-width: 800px) {
  .social-navigation {
    float: none;
    width: 100%;
  }
}
.social-navigation ul {
  list-style: none;
  margin: 0;
}
.social-navigation li {
  display: inline;
}
.social-navigation a {
  color: #283037;
  font-size: 0;
  margin-left: 5px;
  transition: .2s ease-in-out;
}
.social-navigation a:before {
  font-family: "FontAwesome";
  font-size: 18px;
}
@media (max-width: 800px) {
  .social-navigation a {
    margin-bottom: 10px;
    display: inline-block;
  }
}
.social-navigation a[href*="twitter.com"]:before {
  content: "\f081";
}
.social-navigation a[href*="twitter.com"]:hover:before {
  color: #53B9FD;
}
.social-navigation a[href*="facebook.com"]:before {
  content: "\f230";
}
.social-navigation a[href*="facebook.com"]:hover:before {
  color: #44609d;
}
.social-navigation a[href*="google.com"]:before {
  content: "\f0d4";
}
.social-navigation a[href*="google.com"]:hover:before {
  color: #FC5B5B;
}
.social-navigation a[href*="instagram.com"]:before {
  content: "\f16d";
}
.social-navigation a[href*="instagram.com"]:hover:before {
  color: #78A6C5;
}
.social-navigation a[href*="youtube.com"]:before {
  content: "\f166";
}
.social-navigation a[href*="youtube.com"]:hover:before {
  color: #cc181e;
}
.social-navigation a[href*="snapchat.com"]:before {
  content: "\f2ab";
}
.social-navigation a[href*="snapchat.com"]:hover:before {
  color: #444;
}
.social-navigation a[href*="vimeo.com"]:before {
  content: "\f194";
}
.social-navigation a[href*="vimeo.com"]:hover:before {
  color: #aad450;
}
.social-navigation a[href*="dribbble.com"]:before {
  content: "\f17d";
  line-height: 17px;
}
.social-navigation a[href*="dribbble.com"]:hover:before {
  color: #ec6196;
}
.social-navigation a[href*="github.com"]:before {
  content: "\f092";
}
.social-navigation a[href*="github.com"]:hover:before {
  color: #333333;
}
.social-navigation a[href*="flickr.com"]:before {
  content: "\f16e";
}
.social-navigation a[href*="flickr.com"]:hover:before {
  color: #fc4ca4;
}
.social-navigation a[href*="codepen.com"]:before {
  content: "\f1cb";
}
.social-navigation a[href*="codepen.com"]:hover:before {
  color: #333333;
}
.social-navigation a[href*="behance.com"]:before {
  content: "\f1b5";
}
.social-navigation a[href*="behance.com"]:hover:before {
  color: #007fff;
}
.social-navigation a[href*="dropbox.com"]:before {
  content: "\f16b";
}
.social-navigation a[href*="dropbox.com"]:hover:before {
  color: #349BE9;
}
.social-navigation a[href*="pinterest.com"]:before {
  content: "\f0d3";
}
.social-navigation a[href*="pinterest.com"]:hover:before {
  color: #df252d;
}
.social-navigation a[href*="reddit.com"]:before {
  content: "\f1a1";
}
.social-navigation a[href*="reddit.com"]:hover:before {
  color: #333333;
}
.social-navigation a[href*="soundcloud.com"]:before {
  content: "\f1be";
}
.social-navigation a[href*="soundcloud.com"]:hover:before {
  color: #FF7500;
}
.social-navigation a[href*="spotify.com"]:before {
  content: "\f1bc";
}
.social-navigation a[href*="spotify.com"]:hover:before {
  color: #A5CE3F;
}
.social-navigation a[href*="wordpress.com"]:before {
  content: "\f19a";
}
.social-navigation a[href*="wordpress.com"]:hover:before {
  color: #0085be;
}
.social-navigation a[href*="mailto"]:before {
  content: "\f0e0";
  text-indent: -1px;
  font-size: 16px;
}
.social-navigation a[href*="mailto"]:hover:before {
  color: #333333;
}
.social-navigation a[href*="linkedin.com"]:before {
  content: "\f0e1";
}
.social-navigation a[href*="linkedin.com"]:hover:before {
  color: #24A5DD;
}
.social-navigation a[href*="stackoverflow.com"]:before {
  content: "\f16c";
}
.social-navigation a[href*="stackoverflow.com"]:hover:before {
  color: #FF7500;
}
.social-navigation a[href*="rss"]:before, .social-navigation a[href*="feed"]:before {
  content: "\f09e";
  text-indent: 1px;
}
.social-navigation a[href*="rss"]:hover:before, .social-navigation a[href*="feed"]:hover:before {
  color: #FF7500;
}

/* --------------------------------------------------------------
5.4 Post Navigations
-------------------------------------------------------------- */
.post-navigation {
  display: block;
  width: 100%;
  margin-top: 3%;
  position: relative;
  border-top: solid 1px #eee;
  text-align: center;
}
.post-navigation .nav-post {
  display: inline-block;
  width: 50%;
  float: left;
  border-right: solid 1px #eee;
  color: #283037;
  padding: 3% 5%;
  transition: .2s ease-in-out;
}
@media (max-width: 800px) {
  .post-navigation .nav-post {
    padding: 5%;
  }
}
@media (max-width: 800px) {
  .post-navigation .nav-post {
    padding: 8% 2%;
  }
}
.post-navigation .nav-post:only-child {
  float: none;
  border-right: none;
}
@media (max-width: 800px) {
  .post-navigation .nav-post {
    width: 100%;
    border-bottom: solid 1px #eee;
    border-right: none;
  }
}
.post-navigation .nav-post:hover {
  background: #F9F9F9;
  cursor: pointer;
}
.post-navigation a {
  vertical-align: top;
  display: inline-block;
}
.post-navigation .nav-title {
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 600px) {
  .post-navigation .nav-title {
    font-size: 16px;
    padding: 5px 0;
  }
}
.post-navigation .nav-title a {
  color: #283037;
  border-bottom: solid 1px transparent;
}
.post-navigation .nav-title a:hover {
  color: #283037;
  border-bottom-color: #C9D4D8;
}
.post-navigation .nav-label,
.post-navigation .nav-date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #283037;
  color: #66727D;
}
.post-navigation .nav-label i {
  margin: 0 3px;
}
.post-navigation .nav-date {
  margin-bottom: 0;
  color: #66727D;
}

/* --------------------------------------------------------------
5.5 Page Navigation
-------------------------------------------------------------- */
.pagination {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-top: solid 1px #e8e8e8;
  padding: 5% 0;
}
.content-area .pagination .container {
  max-width: 100%;
}
.pagination a {
  color: #283037;
}
.pagination a, .pagination span {
  background: #f0f0f0;
  padding: 8px 25px;
  transition: .2s ease-in-out;
  border-radius: 2px;
  display: inline-block;
  color: #66727D;
}
@media (max-width: 600px) {
  .pagination a, .pagination span {
    padding: 10px 15px;
  }
}
.pagination .next,
.pagination .prev {
  font-size: 0;
}
.pagination .next:after,
.pagination .prev:after {
  font-family: "FontAwesome";
  font-size: 26px;
}
.pagination .next {
  float: right;
}
.pagination .next:after {
  content: "\f105";
}
.pagination .prev {
  float: left;
}
.pagination .prev:after {
  content: "\f104";
}
@media (max-width: 600px) {
  .pagination .next:after,
  .pagination .prev:after {
    font-size: 17px;
  }
}

.infinite-scroll .pagination {
  display: none;
}

.page-numbers {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .page-numbers {
    font-size: 17px;
  }
}

.page-numbers.current,
.page-numbers:hover {
  background: #283037;
  color: #fff;
}

.paging-navigation {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.paging-navigation a {
  display: block;
}
.paging-navigation .nav-previous, .paging-navigation .nav-next {
  display: inline-block;
  margin: 0 2px;
}
.paging-navigation .nav-previous i {
  margin-right: 5px;
}
.paging-navigation .nav-next i {
  margin-left: 5px;
}
.paging-navigation .nav-previous .button:before {
  content: "\f0a8";
  font-family: "FontAwesome";
  margin-right: 10px;
}
.paging-navigation .nav-next .button:after {
  content: "\f0a9";
  font-family: "FontAwesome";
  margin-left: 10px;
}
@media (max-width: 600px) {
  .paging-navigation .nav-previous, .paging-navigation .nav-next {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .paging-navigation .nav-previous:last-child, .paging-navigation .nav-next:last-child {
    margin-bottom: 0;
  }
}

/* --------------------------------------------------------------
6.0 Accessibility
-------------------------------------------------------------- */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  margin: 0;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* --------------------------------------------------------------
7.0 Alignments
-------------------------------------------------------------- */
#page .alignleft {
  display: inline;
  float: left;
  margin: .5em 2em .5em 0;
}
@media (max-width: 600px) {
  #page .alignleft {
    max-width: 150px;
    margin-right: 1em;
  }
}

#page .alignright {
  display: inline;
  float: right;
  margin: .5em 0 1.5em 2em;
}
@media (max-width: 600px) {
  #page .alignright {
    max-width: 150px;
    margin-left: 1em;
  }
}

#page .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.5em auto;
}

.wp-caption {
  margin: .5em 0 1.5em 0;
  max-width: 100%;
  text-align: left;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
  max-width: 100%;
}

.wp-caption-text, .gallery-caption {
  padding: 0;
  margin-top: 12px;
  width: 100%;
  color: #66727D;
  text-transform: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  padding-left: 10px;
  border-left: solid 2px #e3eaf0;
  margin-bottom: 0;
}

#main .tiled-gallery {
  margin-bottom: 1.4em;
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.entry-content .gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.pull-right {
  float: right;
  margin: 0 0 2% 5%;
  text-align: right;
}

.pull-left {
  float: left;
  margin: 0 5% 2% 0;
}

.pull-right, .pull-left {
  color: #283037;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  width: 32%;
}
.pull-right:before, .pull-left:before {
  content: " ";
  background: url(images/screen-half.png);
  height: 16px;
  display: inline-block;
  width: 100%;
}
@media (max-width: 800px) {
  .pull-right:before, .pull-left:before {
    height: 12px;
  }
}
.sans-serif .pull-right, .sans-serif .pull-left {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
@media (max-width: 800px) {
  .pull-right, .pull-left {
    font-size: 20px;
    width: 100%;
    margin: 0 0 5% 0;
    text-align: left;
    line-height: 1.5;
  }
}
@media (max-width: 600px) {
  .pull-right, .pull-left {
    font-size: 18px;
  }
}

.site-footer .tagcloud a {
  background: #424A55;
  color: #fff;
  padding: 6px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .1s ease-in;
}

.site-footer .tagcloud a:hover {
  background: #576571;
  color: #fff;
  cursor: pointer;
}

.sticky {
  width: auto;
}

/* --------------------------------------------------------------
8.0 Clearings
-------------------------------------------------------------- */
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: '';
  display: table;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both;
}

/* --------------------------------------------------------------
9.0 Widgets
-------------------------------------------------------------- */
.widget-area {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  float: right;
  font-size: 16px;
  position: relative;
  -webkit-backface-visibility: hidden;
}
@media (max-width: 800px) {
  .widget-area {
    width: 100%;
    float: none;
    margin-top: 8%;
  }
}

.widget-area a {
  color: #66727D;
}
.widget-area a:hover {
  color: #283037;
}

.widget-area aside {
  display: inline-block;
  width: 100%;
  margin-bottom: 8%;
  vertical-align: top;
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
}
.widget-area aside:after {
  content: " ";
  background: url(images/screen-half.png);
  height: 12px;
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
}
.widget-area aside:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget-area aside:last-child:after {
  display: none;
}
@media (max-width: 600px) {
  .widget-area aside {
    margin-bottom: 8%;
  }
}

.widget-area aside:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.widget-area aside .widget-title,
.widget-area aside .widgettitle,
.widget-area .widget-grofile h4 a {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.6;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .widget-area aside .widget-title,
  .widget-area aside .widgettitle,
  .widget-area .widget-grofile h4 a {
    margin-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .widget-area aside .widget-title,
  .widget-area aside .widgettitle,
  .widget-area .widget-grofile h4 a {
    margin-bottom: 20px;
  }
}

.widget-area .textwidget p:last-of-type {
  margin-bottom: 0;
}

.widget-area aside ul {
  margin: 0 0 0 0;
}

.widget-area aside ul.sub-menu,
.widget-area aside .children {
  margin: 4% 0 0 20px;
}

.widget-area aside ul.sub-menu li:last-child,
.widget-area aside .children li:last-child {
  margin-bottom: 0;
  padding-bottom: 2%;
  border-bottom: none;
}

.widget-area aside li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #ccc;
  list-style: none;
  position: relative;
}
.widget-area aside li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  left: -18px;
  top: 3px;
  color: #A1B0BD;
  font-size: 12px;
  display: none;
}

.widget-area aside li ul li {
  list-style: circle;
}

.widget-area aside li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

#calendar_wrap {
  background: #fff;
  border-right: none;
  border-bottom: none;
  color: #283037;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px -1px;
}

#wp-calendar {
  font-size: 16px;
  margin: 0;
  max-width: 100%;
}

#wp-calendar caption {
  text-align: center;
  background: #f0f0f0;
  padding: 5px 10px;
  font-weight: bold;
}

#wp-calendar tr th, #wp-calendar tr td {
  text-align: center;
}

#wp-calendar tr th {
  background: #283037;
  color: #fff;
  margin: -10px -10px 10px -10px;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 0;
}

#wp-calendar tbody tr td {
  padding: 2px 0;
  border-right: solid 1px #f3f3f3;
  border-top: solid 1px #f3f3f3;
}

#wp-calendar tfoot td {
  border-top: solid 1px #f3f3f3;
  border-right: solid 1px #eee;
  padding: 7px 0 5px 0;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

#wp-calendar a {
  color: #283037;
}
#wp-calendar a:hover {
  color: #66727D;
}

.widget_rss li {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.widget_rss li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget_rss li .rsswidget {
  display: inline-block;
  width: 100%;
}
.widget_rss .rss-date, .widget_rss cite {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 0;
}

.widget-grofile {
  position: relative;
}

.widget .grofile-thumbnail {
  max-width: 90px;
  width: 90px;
  display: block;
  vertical-align: top;
  border-radius: 100px;
  margin: 0 auto 10px auto;
}

.grofile-meta {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.widget-area .widget-grofile h4 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .9;
  text-align: center;
}
.widget-area .widget-grofile h4 a {
  color: #283037;
}
.widget-area .widget-grofile h4 a:hover {
  color: #66727D;
}

.widget-area .grofile-meta + h4 {
  display: none;
}

.widget-area .grofile-links {
  margin-bottom: 20px;
}

.widget-area .grofile-links + p,
.widget-area .grofile-meta + p {
  margin-bottom: 0;
}

/* --------------------------------------------------------------
10.0 Comments
-------------------------------------------------------------- */
.comment-navigation {
  font-size: 16px;
  margin: 0 0 6% 0;
}
.comment-navigation .button {
  display: inline-block;
}
.comment-navigation .button:empty {
  display: none;
}
.comment-navigation .nav-previous a:before {
  content: "\f0a8";
  font-family: "FontAwesome";
  margin-right: 10px;
}
.comment-navigation .nav-next a:after {
  content: "\f0a9";
  font-family: "FontAwesome";
  margin-left: 10px;
}

.comments-area {
  background: #f0f0f0;
  display: block;
  margin: 0 auto;
  padding: 8% 0;
  overflow: hidden;
  width: 100%;
}

.page .comments-area {
  margin-top: 5%;
}

.comments-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10%;
}
@media (max-width: 600px) {
  .comments-title {
    font-size: 22px;
  }
}
.comments-title span {
  border-bottom: solid 3px;
}
@media (max-width: 600px) {
  .comments-title span {
    border-bottom-width: 2px;
  }
}

#commentform {
  display: inline-block;
  width: 100%;
}

.comment-list #commentform {
  margin-top: 2%;
}

.comment-info {
  display: inline-block;
  margin-bottom: 1%;
}

.comment-content {
  font-size: 18px;
}
@media (max-width: 800px) {
  .comment-content {
    font-size: 16px;
  }
}

.bypostauthor .comment-list .avatar:after {
  content: "\f007";
  font-family: "FontAwesome";
  font-size: 16px;
  margin-left: 1rem;
  position: relative;
  top: 0;
}

.comment-list,
.comment-list li {
  margin: 0;
  counter-reset: li;
}

.comment-list > li {
  list-style-type: none;
  margin-bottom: 6%;
  padding-bottom: 6%;
  border-bottom: dotted 1px #C2C9D0;
}
@media (max-width: 600px) {
  .comment-list > li {
    margin-bottom: 8%;
    padding-bottom: 8%;
  }
}

.comment-list .children {
  margin: 6% 0 0 10%;
}
.comment-list .children li {
  margin-bottom: 6%;
  padding-bottom: 6%;
  border-bottom: dotted 1px #C2C9D0;
}
.comment-list .children li:first-child {
  border-top: dotted 1px #C2C9D0;
  padding-top: 6%;
}
@media (max-width: 600px) {
  .comment-list .children li:first-child {
    padding-top: 9%;
  }
}
.comment-list .children li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.comment-list .children > li {
  list-style: none;
}

.comment-list .reply {
  margin-bottom: 0;
}
.comment-list .reply a {
  color: #848a96;
}
.comment-list .reply a:hover {
  color: #283037;
}

.comment-list .avatar {
  display: inline-block;
  margin-right: 5%;
  border-radius: 100px;
  vertical-align: top;
  width: 8%;
}

.comment-wrap {
  display: inline-block;
  width: 84%;
  vertical-align: top;
}

.comment-cite {
  font-style: normal;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  font-family: "Playfair Display", "Georgia", serif;
}
.sans-serif .comment-cite {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
@media (max-width: 600px) {
  .comment-cite {
    font-size: 18px;
  }
}
.comment-cite a {
  color: #283037;
}

.comment-time, .comment-edit-link {
  color: #66727D;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  vertical-align: top;
}

.comment-reply-title {
  display: inline-block;
  font-size: 36px;
  margin-bottom: 6%;
  width: 100%;
}
@media (max-width: 600px) {
  .comment-reply-title {
    font-size: 24px;
  }
}
.comment-reply-title small {
  display: inline-block;
  float: right;
}
.comment-reply-title small a {
  color: #66727D;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  vertical-align: top;
  padding-top: 18px;
  display: inline-block;
}
.comment-reply-title small a:hover {
  color: #EB5252;
}
@media (max-width: 600px) {
  .comment-reply-title small a {
    display: inline-block;
    margin-left: 0;
  }
}

.comment-list .comment-reply-title {
  margin-bottom: 3%;
}

.logged-in-as, .comment-notes {
  margin-bottom: 2%;
  display: none;
  color: #66727D;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.comment-notes {
  display: none;
}

.required {
  color: #F35959;
}

.logged-in-as a {
  color: #283037;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  display: inline-block;
  width: 100%;
}
@media (max-width: 800px) {
  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  .comment-form-comment {
    width: 100%;
    margin-right: 0;
  }
}

.comment-list #respond {
  border-top: dotted 1px #C2C9D0;
  display: inline-block;
  margin-top: 4%;
  padding-top: 6%;
  width: 100%;
}

@media (max-width: 800px) {
  .comment-form-url {
    margin-bottom: 1em;
  }
}

.comment-form label {
  color: #283037;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  font-size: 18px;
}
@media (max-width: 800px) {
  .comment-form label {
    float: none;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .comment-form label {
    font-size: 16px;
  }
}

.comment-form input:not([type='submit']), .comment-form textarea {
  width: 82%;
  font-size: 16px;
  float: right;
}
@media (max-width: 800px) {
  .comment-form input:not([type='submit']), .comment-form textarea {
    float: none;
    width: 100%;
  }
}

.form-submit {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.comment-form #submit {
  width: auto;
  float: right;
}
@media (max-width: 600px) {
  .comment-form #submit {
    margin: 0;
    width: 100%;
  }
}

.form-allowed-tags {
  display: none;
}

.comment-subscription-form {
  margin-bottom: 0;
}
.comment-subscription-form label {
  font-weight: normal;
  font-size: 14px;
}

.comment-subscription-form {
  display: inline-block;
  width: 100%;
  line-height: 1.4;
}
.comment-subscription-form .subscribe-label {
  float: right;
  margin: 0;
}

#respond .comment-form-fields div.comment-form-field {
  width: 100% !important;
}

.comment-awaiting-moderation {
  margin-top: 4%;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-style: normal;
}

.comment-awaiting-moderation:before {
  content: "\f06a";
  font-family: "FontAwesome";
  margin-right: 10px;
}

/* --------------------------------------------------------------
11.0 Infinite scroll
-------------------------------------------------------------- */
#infinite-handle {
  text-align: center;
  padding: 5% 15px 5% 15px;
  border-top: solid 1px #eee;
}
@media (max-width: 600px) {
  #infinite-handle {
    display: inline-block;
    width: 100%;
    padding: 8% 15px 8% 15px;
  }
  #infinite-handle span {
    width: 100%;
  }
}

#page #infinite-handle span {
  display: inline-block;
  background: #283037;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  line-height: 1;
  letter-spacing: 0;
  border-radius: 2px;
  transition: .1s ease-in;
}
#page #infinite-handle span:hover {
  background: #37414A;
}
#page #infinite-handle span button {
  position: relative;
}
#page #infinite-handle span button:after {
  content: "\f067";
  font-family: "FontAwesome";
  margin-left: 6px;
  display: inline-block;
  font-size: 13px;
}

.infinite-scroll:not(.gallery-page) .paging-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

.infinity-end.neverending .site-footer {
  display: block;
}

#infinite-handle i {
  margin-right: 5px;
}

.spinner {
  left: 50% !important;
}

.infinite-loader {
  margin-bottom: 5%;
}

/* --------------------------------------------------------------
12.0 Masonry
-------------------------------------------------------------- */
.has-no-widgets .fixed-toggle {
  display: none;
}
@media (max-width: 800px) {
  .has-no-widgets .fixed-toggle {
    display: inline-block;
  }
}

.fixed-toggle {
  font-weight: 700;
  font-size: 17px;
  font-family: "Playfair Display", "Georgia", serif;
  line-height: 1.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: top;
  transition: .07s ease-in;
  position: relative;
  z-index: 50;
}
@media (max-width: 600px) {
  .fixed-toggle {
    font-size: 15px;
  }
}
.sans-serif .fixed-toggle {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
.fixed-toggle:hover {
  cursor: pointer;
  opacity: .8;
}
.fixed-toggle i {
  width: 16px;
  text-align: center;
}

.browse-button {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 10;
  left: 0;
  right: 0;
}
@media (max-width: 600px) {
  .browse-button {
    left: auto;
    width: auto;
    right: 15px;
  }
}
.browse-button .fixed-toggle {
  display: inline-block;
}
.browse-button i {
  font-size: 15px;
}
.browse-button .fixed-toggle i:before {
  content: "\f150";
}

.fixed-toggle.browse-active i:before {
  content: "\f151";
}

.category-drawer {
  background: #f0f0f0;
  padding: 120px 5% 3% 5%;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1200px) {
  .category-drawer {
    padding-top: 100px;
  }
}
@media (max-width: 600px) {
  .category-drawer {
    padding: 80px 15px 0 15px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
.admin-bar .category-drawer {
  padding-top: 160px;
}
@media only screen and (max-width: 1200px) {
  .admin-bar .category-drawer {
    padding-top: 140px;
  }
}
@media (max-width: 600px) {
  .admin-bar .category-drawer {
    padding-top: 130px;
  }
}
.category-drawer .post {
  -webkit-animation-name: fadeInUpImage;
  animation-name: fadeInUpImage;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (max-width: 600px) {
  .category-drawer .post {
    margin-bottom: 8%;
    display: inline-block;
  }
}
.category-drawer.drawer-open {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.category-drawer.footer-drawer {
  position: relative;
  top: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  box-shadow: none;
  padding-top: 4%;
  display: block;
}
@media (max-width: 800px) {
  .category-drawer.footer-drawer {
    padding-top: 8%;
    padding-bottom: 5%;
  }
}
.admin-bar .category-drawer.footer-drawer {
  padding-top: 4%;
}
@media (max-width: 800px) {
  .admin-bar .category-drawer.footer-drawer {
    padding-top: 8%;
  }
}

.single .category-drawer.footer-drawer,
.page .category-drawer.footer-drawer {
  background: linear-gradient(to bottom, #FBFBFB 0%, #f0f0f0 100%);
}

.post-loading {
  opacity: .5;
  transition: .1s ease-in;
}

.sort-list {
  margin: 0 0 5% 0;
  padding: 0;
  text-align: center;
  font-family: "Playfair Display", "Georgia", serif;
}
@media (max-width: 600px) {
  .sort-list {
    background: #fff;
    display: none;
    margin: 0 0 8% 0;
  }
  .sort-list .current-menu-item {
    font-weight: bold;
  }
}
.sans-serif .sort-list {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
.sort-list a {
  color: #283037;
}
@media (max-width: 600px) {
  .sort-list a {
    color: #66727D;
    padding: 15px 0;
    width: 100%;
    display: inline-block;
  }
  .sort-list a:hover {
    color: #283037;
  }
}
.sort-list a:hover {
  color: #283037;
}
.sort-list li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  border-bottom: solid 2px transparent;
  transition: .2s ease-in;
}
@media (max-width: 800px) {
  .sort-list li {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .sort-list li {
    font-size: 17px;
    border-bottom: solid 1px #eee;
    width: 100%;
  }
}
.sort-list .current-menu-item,
.sort-list li:hover {
  border-bottom-color: #343e47;
}
@media (max-width: 600px) {
  .sort-list .current-menu-item,
  .sort-list li:hover {
    border-bottom-color: #eee;
    color: #283037;
  }
  .sort-list .current-menu-item a,
  .sort-list li:hover a {
    color: #283037;
  }
}
.sort-list a:active,
.sort-list a:focus {
  border: none;
  outline: none;
}

.sort-list-toggle {
  display: none;
  margin-bottom: 7%;
}
@media (max-width: 600px) {
  .sort-list-toggle {
    display: inline-block;
    width: 100%;
  }
}
.sort-list-toggle i {
  margin-left: 3px;
}

.sort-list-toggle:active,
.sort-list-toggle:focus,
.sort-list-toggle:hover {
  background: #283037;
}

.featured-content {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5% 5% 5%;
  border-bottom: solid 1px #eee;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .featured-content {
    margin-bottom: 7%;
    padding-bottom: 7%;
  }
}
.featured-content .container {
  max-width: 100%;
  padding: 0;
}
.featured-content .post {
  padding: 5% 0;
  margin-bottom: 0 !important;
  display: none;
}
@media (max-width: 800px) {
  .featured-content .post {
    padding: 50% 3% 3% 3% !important;
  }
}
.featured-content .rslides1_on,
.featured-content .post:first-child {
  display: inline-block;
}
.featured-content .background-effect {
  opacity: 1;
}
.featured-content .without-featured-image {
  background: url(images/screen-half.png);
}

.featured-content:empty {
  display: none;
}

.slide-navs {
  display: none;
}

.featured-content-header {
  position: relative;
  display: inline-block;
  width: 38%;
  float: right;
  z-index: 50;
  margin-right: 5%;
}
@media (max-width: 800px) {
  .featured-content-header {
    width: 100%;
    float: none;
  }
}
@media (max-width: 600px) {
  .featured-content-header .entry-header {
    margin-bottom: 0;
  }
}
.featured-content-header .entry-title {
  font-size: 42px;
  line-height: 1.3;
}
@media (max-width: 800px) {
  .featured-content-header .entry-title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .featured-content-header .entry-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 2%;
  }
}
.featured-content-header .entry-title a {
  color: #283037;
}
.featured-content-header .entry-title a:hover {
  color: #283037;
  border-bottom: solid 2px #C9D4D8;
}
.featured-content-header .entry-content {
  font-size: 17px;
}
@media (max-width: 600px) {
  .featured-content-header .entry-content {
    font-size: 16px;
    display: none;
  }
}
.featured-content-header .more-bg {
  background: none;
}
@media (max-width: 600px) {
  .featured-content-header .more-bg {
    font-size: 14px;
    display: none;
  }
}
#page .featured-content-header .more-link {
  background: none;
}
@media (max-width: 600px) {
  .featured-content-header .avatar {
    width: 20px;
  }
}
@media (max-width: 600px) {
  .featured-content-header .byline {
    border-bottom: none;
  }
}

.featured-text {
  padding: 10%;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
@media (max-width: 600px) {
  .featured-text {
    padding: 3% 4%;
  }
}

.featured-nav {
  background: #fff;
  display: inline-block;
  width: 100%;
  padding: 0 0 0 10%;
  line-height: 2.4;
  border-bottom: solid 1px #ECECEC;
}
@media (max-width: 600px) {
  .featured-nav {
    line-height: 2.8;
    background: rgba(255, 255, 255, 0.9);
    border-bottom-color: #D8D8D8;
    padding-left: 4%;
    line-height: 2;
  }
}
.featured-nav .arrow-navs {
  width: 50%;
  float: right;
  text-align: right;
}
.featured-nav .arrow-link {
  font-size: 0;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  background: #283037;
  color: #B1BFCC;
  border-radius: 0;
  transition: .2s ease-in-out;
}
@media (max-width: 600px) {
  .featured-nav .arrow-link {
    padding: 0 25px;
    width: auto;
  }
}
.featured-nav .arrow-link:hover {
  color: #fff;
}
.featured-nav .arrow-link:before {
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 1.8;
}
.featured-nav .prev {
  border-right: solid 1px rgba(255, 255, 255, 0.15);
}
.featured-nav .prev:before {
  content: "\f104";
}
.featured-nav .next:before {
  content: "\f105";
}

.featured-cat {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 600px) {
  .featured-cat {
    font-size: 11px;
  }
}
.featured-cat a {
  color: #283037;
}
.featured-cat a:hover {
  color: #66727D;
}

.small-header .featured-text {
  display: none;
}

.featured-posts .post {
  width: 20%;
  margin-bottom: 0;
  vertical-align: top;
  padding: 0 25px 0 0;
  float: left;
}
@media (max-width: 600px) {
  .featured-posts .post {
    width: 100%;
    padding-right: 0;
    margin-bottom: 6%;
    display: inline-block;
  }
}
.featured-posts .post .entry-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2px;
}
.featured-posts .post .entry-title a {
  color: #283037;
}
.featured-posts .post .entry-title a:hover {
  border-bottom-width: 2px;
}
.featured-posts .post .grid-date {
  font-size: 12px;
  color: #66727D;
}

@media (max-width: 800px) {
  .featured-posts .grid-thumb.post {
    width: 46%;
    margin-bottom: 20px;
  }
}
.featured-posts .without-featured-image .grid-thumb-image {
  background: url(images/screen-half.png);
}

#pager-navs {
  list-style: none;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  background: #f0f0f0;
  display: none;
}
@media (max-width: 800px) {
  #pager-navs {
    padding: 12px 0;
  }
}
#pager-navs li {
  display: inline-block;
  font-size: 22px;
  margin: 0 5px;
}
@media (max-width: 600px) {
  #pager-navs li {
    font-size: 18px;
  }
}
#pager-navs .rslides_here i:before {
  content: "\f192";
  font-family: "FontAwesome";
}
#pager-navs a {
  color: #283037;
}
#pager-navs a:focus,
#pager-navs a:active {
  outline: none;
}

.two-column .grid-wrapper,
.three-column .grid-wrapper {
  padding: 0 3%;
}
@media (max-width: 800px) {
  .two-column .grid-wrapper,
  .three-column .grid-wrapper {
    padding: 0;
  }
}

.gallery-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 3%;
}
@media (max-width: 800px) {
  .gallery-wrapper {
    margin: 0 0 4% 0;
  }
}
@media (max-width: 600px) {
  .gallery-wrapper {
    margin: 0 0 6% 0;
    height: auto !important;
  }
}

.three-column .gallery-wrapper {
  margin: 0 0 4% 0;
}

.grid-thumb-image {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.grid-thumb-image img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-thumb-image img {
  display: block;
  min-width: 100%;
}
@media only screen and (max-width: 770px) {
  .gallery-thumb-image img {
    opacity: 1;
    width: 100%;
  }
}

.new-infinite-posts .gallery-thumb img {
  opacity: 1;
}

.three-column .gallery-thumb {
  width: 33.3%;
}
@media only screen and (max-width: 1080px) {
  .three-column .gallery-thumb {
    width: 49.5%;
  }
}
@media only screen and (max-width: 800px) {
  .three-column .gallery-thumb {
    width: 100%;
  }
}

.two-column .gallery-thumb {
  width: 49.9%;
}
@media (max-width: 800px) {
  .two-column .gallery-thumb:last-child {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 800px) {
  .two-column .gallery-thumb {
    width: 100%;
  }
}

.one-column .gallery-thumb {
  width: 100%;
}
.one-column .gallery-thumb img {
  width: 100%;
}

.gallery-thumb {
  display: inline-block;
  margin-bottom: 0 !important;
  padding: 0 2% 2% 2%;
  opacity: 0;
  background: #fff;
}
@media (max-width: 800px) {
  .gallery-thumb {
    width: 50%;
    padding: 0 0 8% 0;
  }
}
@media (max-width: 600px) {
  .gallery-thumb {
    position: relative !important;
    left: auto !important;
    top: auto !important;
    width: 100%;
    padding: 0 0 8% 0;
  }
}

.gallery-thumb-image {
  position: relative;
  overflow: hidden;
  display: block;
}
@media (max-width: 800px) {
  .gallery-thumb-image {
    padding: 0 5%;
  }
}
@media (max-width: 600px) {
  .gallery-thumb-image {
    padding: 0 15px;
  }
}

.fallback {
  width: 100%;
  min-width: 100%;
  min-height: 130px;
  background: url(images/screen-half.png);
  position: relative;
  z-index: 5;
}

#content .gallery-thumb .container {
  background: #fff;
  position: relative;
  z-index: 40;
  margin-top: -8%;
  padding: 4% 5% 5% 5%;
  width: 100%;
  max-width: 90%;
}
.three-column #content .gallery-thumb .container {
  margin-left: 15px;
  margin-right: 15px;
}
@media (max-width: 800px) {
  #content .gallery-thumb .container {
    max-width: 85%;
  }
}
@media (max-width: 600px) {
  #content .gallery-thumb .container {
    padding: 4% 15px 5% 15px;
    max-width: 100%;
    margin-top: -6%;
  }
}

.gallery-thumb .entry-meta {
  font-size: 16px;
  color: #66727D;
}
@media (max-width: 600px) {
  .gallery-thumb .entry-meta {
    font-size: 14px;
  }
}
.gallery-thumb .entry-meta span {
  background: #fff;
  padding-right: 10px;
}

.more-bg {
  background: url(images/screen-half.png);
  line-height: .7;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}
.more-bg .more-link {
  background: #fff;
  padding-right: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .more-bg .more-link {
    font-size: 15px;
  }
}

.gallery-thumb .entry-title,
.gallery-thumb.page .entry-header .entry-title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 2%;
}
.three-column .gallery-thumb .entry-title, .three-column
.gallery-thumb.page .entry-header .entry-title {
  font-size: 17px;
  line-height: 1.3;
  margin-bottom: 2.5%;
}
.gallery-thumb .entry-title a,
.gallery-thumb.page .entry-header .entry-title a {
  color: #283037;
  border-bottom: solid 2px transparent;
  transition: .1s ease-in-out;
}
.gallery-thumb .entry-title a:hover,
.gallery-thumb.page .entry-header .entry-title a:hover {
  color: #283037;
  border-bottom-color: #C9D4D8;
}
@media (max-width: 600px) {
  .gallery-thumb .entry-title,
  .gallery-thumb.page .entry-header .entry-title {
    font-size: 17px;
    line-height: 1.4;
  }
}

.gallery-thumb .entry-content {
  font-size: 17px;
}
.three-column .gallery-thumb .entry-content {
  font-size: 16px;
}
@media (max-width: 600px) {
  .gallery-thumb .entry-content {
    font-size: 16px;
  }
}

/* --------------------------------------------------------------
13.0 Media
-------------------------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.site-main .gallery {
  margin-bottom: 1.5em;
}

.gallery a img {
  border: none;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.gallery dd, .gallery figcaption {
  font-size: 15px;
  text-align: left;
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

embed, iframe, object {
  max-width: 100%;
}

#content .wp-playlist-light {
  color: #55626D;
  padding: 0;
}

#content .mejs-container, #content .mejs-embed, #content .mejs-embed body {
  background: none;
}

#content .mejs-container {
  margin-bottom: 1em;
  height: 75px !important;
}

#content .mejs-container a {
  border-bottom: none;
}
#content .mejs-container a:hover {
  background: transparent;
}

#content .wp-playlist {
  border: none;
  background: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}

#content .wp-playlist-tracks {
  margin-top: 3.5%;
}

#content .wp-playlist-item {
  border-bottom: dotted 1px #CAD1D8;
  padding: 0;
}
#content .wp-playlist-item:last-child {
  border-bottom: none;
}

#content .wp-playlist-item .wp-playlist-caption,
#content .wp-playlist-item-length {
  padding: 2%;
}
@media (max-width: 800px) {
  #content .wp-playlist-item .wp-playlist-caption,
  #content .wp-playlist-item-length {
    padding: 4%;
  }
}

#content .wp-playlist-item .wp-playlist-caption {
  color: #283037;
  display: inline-block;
  border-bottom: none;
}
#content .wp-playlist-item .wp-playlist-caption:hover {
  background: none;
  border-bottom: none;
}

#content .wp-playlist-caption, #content .wp-playlist-item-title {
  font-size: 18px;
}
@media (max-width: 800px) {
  #content .wp-playlist-caption, #content .wp-playlist-item-title {
    font-size: 16px;
  }
}

#content .wp-playlist-current-item {
  height: auto !important;
}
#content .wp-playlist-current-item .wp-playlist-caption {
  margin-bottom: 1.5%;
}
#content .wp-playlist-current-item img {
  display: none;
}
#content .wp-playlist-current-item .wp-playlist-item-title {
  color: #283037;
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 800px) {
  #content .wp-playlist-current-item .wp-playlist-item-title {
    font-size: 22px;
  }
}
#content .wp-playlist-current-item .wp-playlist-item-album {
  font-size: 20px;
}
@media (max-width: 800px) {
  #content .wp-playlist-current-item .wp-playlist-item-album {
    font-size: 16px;
  }
}

#page .mejs-controls {
  background: #424a55;
  height: 75px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  #page .mejs-controls {
    padding: 0 10px;
  }
}
#page .mejs-controls .mejs-button button:hover {
  background-color: transparent !important;
}
#page .mejs-controls .mejs-time {
  height: 56px;
  padding-top: 18px;
}
#page .mejs-controls .mejs-time span {
  line-height: 40px;
}
#page .mejs-controls > div {
  height: 60px;
}
#page .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #5E7383;
  height: 14px;
}
#page .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #e3eaf0;
  height: 14px;
}
#page .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #5E7383;
  height: 14px;
  margin: 26px 10px;
}
#page .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #5E7383;
  height: 14px;
  top: 29px;
}
#page .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #e3eaf0;
  height: 14px;
  top: 29px;
}
#page .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  background: #5E7383;
  height: 14px;
}
#page .mejs-controls .mejs-button button {
  margin: 29px 5px;
}
#page .mejs-controls .mejs-button button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

/* --------------------------------------------------------------
14.0 Header
-------------------------------------------------------------- */
.titles-wrap {
  transition: .3s ease;
}

.fixed-nav {
  display: inline-block;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #fff;
  padding: 15px 0;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .fixed-nav {
    padding: 10px 0;
    height: 50px;
    position: absolute;
  }
}
.admin-bar .fixed-nav {
  top: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar .fixed-nav {
    top: 46px;
  }
}

.headroom {
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
}

.headroom--unpinned {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}

.headroom--pinned {
  position: fixed;
  top: 0;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.admin-bar .headroom--pinned {
  top: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar .headroom--pinned {
    top: 46px;
  }
}
@media only screen and (max-width: 600px) {
  .admin-bar .headroom--pinned {
    top: 0;
  }
}

.drawer-open + .headroom--unpinned {
  -webkit-transform: translateY(0%) !important;
      -ms-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

@media only screen and (max-width: 600px) {
  .drawer-open + .headroom--pinned,
  .drawer-open + .headroom--unpinned,
  .drawer-open + .headroom--not-top {
    -webkit-transform: translateY(0%) !important;
        -ms-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
    position: fixed !important;
  }
}
@media only screen and (max-width: 600px) {
  .admin-bar .headroom--top {
    position: absolute;
    top: 46px;
  }
}

@media (max-width: 600px) {
  .no-scroll {
    overflow: hidden;
  }
}

.site-header {
  position: relative;
  z-index: 5;
  padding: 0;
  margin-bottom: 5%;
}

.site-title-wrap {
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  padding: 8% 5%;
  overflow: hidden;
  background: #343e47;
}
@media (max-width: 600px) {
  .site-title-wrap {
    padding: 4% 0;
  }
}

.site-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2;
  display: inline-block;
  width: 100%;
  font-family: "Playfair Display", "Georgia", serif;
}
.sans-serif .site-title {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.04em;
}
@media (max-width: 800px) {
  .sans-serif .site-title {
    letter-spacing: -0.0250em;
  }
}
@media (max-width: 800px) {
  .site-title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .site-title {
    font-size: 25px;
    letter-spacing: 0;
  }
}
.site-title a {
  color: #fff;
  transition: .1s ease-in;
}
.site-title a:hover {
  opacity: .9;
}

.site-description {
  color: #fff;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  display: inline-block;
  opacity: .85;
}
.sans-serif .site-description {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
@media (max-width: 600px) {
  .site-description {
    font-size: 13px;
  }
}

.site-avatar {
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: top;
}
.site-avatar img {
  border-radius: 500px;
  margin-bottom: 15px;
  width: 85px;
  transition: all .2s ease-in-out;
}
.site-avatar img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.site-logo {
  line-height: 1;
  margin: 0;
  text-align: center;
  display: inline-block;
}

.site-logo:empty {
  margin: 0;
}

@media (max-width: 600px) {
  .site-logo-link {
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .site-logo-link img {
    max-width: 100%;
  }
}
.fixed-nav-right {
  position: absolute;
  right: 5%;
  top: 0;
  z-index: 20;
}
.rtl .fixed-nav-right {
  left: inherit;
  right: 5%;
}
@media (max-width: 600px) {
  .fixed-nav-right {
    display: none;
  }
}
.fixed-nav-right li {
  list-style: none;
  display: inline-block;
  padding-left: 5px;
}

.widget-area .social-navigation {
  float: none;
}
.widget-area .social-navigation li {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget-area .social-navigation li a {
  color: #283037;
  line-height: 1;
}
.widget-area .social-navigation li a:before {
  font-size: 26px;
}

.widget-area .social-widget {
  display: none;
}
@media (max-width: 600px) {
  .widget-area .social-widget {
    display: inline-block;
  }
}

/* --------------------------------------------------------------
15.0 Content
-------------------------------------------------------------- */
.container {
  margin: 0 auto;
  padding: 0 5%;
  display: block;
  position: relative;
}
@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

.content-area .container {
  max-width: 70%;
}
@media (max-width: 800px) {
  .content-area .container {
    max-width: 86%;
  }
}
@media (max-width: 600px) {
  .content-area .container {
    max-width: 88%;
  }
}

#comments .container {
  max-width: 70%;
}
@media (max-width: 800px) {
  #comments .container {
    max-width: 100%;
  }
}

#content .with-featured-image .container {
  background-color: #fff;
  margin-top: -10%;
  position: relative;
  padding-top: 4%;
}
@media (max-width: 600px) {
  #content .with-featured-image .container {
    margin-top: 0;
    max-width: 100%;
  }
}

.page #content .post .container {
  padding-bottom: 6%;
}
@media (max-width: 600px) {
  .page #content .post .container {
    padding-bottom: 10%;
  }
}

.single .without-featured-image .featured-image,
.one-column .without-featured-image .featured-image,
.page .without-featured-image .featured-image,
.error404 .featured-image {
  padding: 8% 0;
  background: url(images/screen-half.png);
  position: relative;
  margin-bottom: 0;
  margin-top: -5%;
}
@media (max-width: 600px) {
  .single .without-featured-image .featured-image,
  .one-column .without-featured-image .featured-image,
  .page .without-featured-image .featured-image,
  .error404 .featured-image {
    padding: 4% 0;
    display: none;
  }
}

.error404 .searchform {
  margin-bottom: 1.4em;
}

.entry-header p:last-child {
  margin-bottom: 0;
}

.content-area {
  margin: 0 auto;
  display: block;
  transition: .3s ease-in-out;
}

.fade-content {
  background: #ccc;
}
.fade-content .content-area {
  opacity: .15;
}

.page-template-full-width .content-area {
  width: 100%;
}

.no-sidebar .content-area {
  margin: 0 auto;
  display: block;
}

.entry-content .page-links {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: .8em 0 1.4em 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}
.entry-content .page-links a {
  border-bottom: none;
}

.page-links-inside {
  display: inline-block;
  background: #fff;
  padding: 0 15px 0 0;
}

.featured-image,
.single .fallback {
  display: block;
  width: 100%;
  padding: 0 5% 0 5%;
  margin: 0 auto 1.5em auto;
  overflow: hidden;
  max-height: 1000px;
  position: relative;
}
@media (max-width: 600px) {
  .featured-image,
  .single .fallback {
    margin-bottom: 0;
    padding: 0 15px 0 15px;
  }
}
.featured-image img,
.single .fallback img {
  display: block;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  min-width: 100%;
}

.featured-caption {
  position: absolute;
  bottom: 10%;
  z-index: 20;
  width: 100%;
  left: 0;
  right: 0;
}

.gallery-toggle {
  font-size: 20px;
  font-weight: 400;
  background: #1E2327;
  padding: .6em 1em;
}

.featured-video {
  margin-bottom: 1.5em;
  display: inline-block;
  width: 100%;
}
@media (max-width: 600px) {
  .featured-video {
    margin-bottom: 1.2em;
  }
}

body:not(.page-template-default) .home .content-area,
body:not(.page-template-default) .archive .content-area {
  width: 100%;
}

#page {
  display: block;
}

#main,
.comments-inside {
  margin: 0 auto;
  max-width: 1800px;
}

.site-content {
  display: block;
  width: 100%;
  padding: 0;
}
@media (max-width: 600px) {
  .site-content {
    padding-top: 0;
  }
}

.entry-header {
  position: relative;
  margin-bottom: 4%;
}

.page .entry-header {
  margin-bottom: 1.4em;
}

.archive-header {
  margin-bottom: 6%;
  text-align: center;
}
@media (max-width: 600px) {
  .archive-header {
    margin: 2% 0 8% 0;
  }
}
.archive-header .entry-title {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 600px) {
  .archive-header .entry-title {
    font-size: 20px;
  }
}
.archive-header .entry-content {
  margin-top: 10px;
  color: #66727D;
}
@media (max-width: 600px) {
  .archive-header .entry-content {
    font-size: 15px;
    margin-top: 2px;
  }
}
@media (max-width: 600px) {
  #content .archive-header .container {
    max-width: 100%;
  }
}

.entry-title a:focus, .entry-title a:active {
  outline: none;
}

.entry-large .entry-title,
.page .entry-header .entry-title {
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 20px;
  margin-bottom: 2.5%;
  line-height: 1.2;
  position: relative;
}
.sans-serif .entry-large .entry-title, .sans-serif
.page .entry-header .entry-title {
  font-family: "Work Sans", "Helvetica", sans-serif;
  letter-spacing: -0.0250em;
}
@media (max-width: 800px) {
  .entry-large .entry-title,
  .page .entry-header .entry-title {
    font-size: 44px;
  }
}
@media (max-width: 600px) {
  .entry-large .entry-title,
  .page .entry-header .entry-title {
    font-size: 28px;
    margin-bottom: 8px;
    line-height: 1.4;
  }
}
.entry-large .entry-title a,
.page .entry-header .entry-title a {
  position: relative;
  z-index: 5;
  color: #283037;
  text-decoration: none;
  border-bottom: solid 2px transparent;
  transition: .1s ease-in-out;
}
.entry-large .entry-title a:hover,
.page .entry-header .entry-title a:hover {
  color: #283037;
  border-bottom-color: #c9d4d8;
}

.byline {
  color: #66727D;
  font-size: 14px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid 1px #E8E8E8;
}
@media (max-width: 600px) {
  .byline {
    display: inline-block;
    font-size: 12px;
  }
}
.byline a {
  color: #66727D;
  border-bottom: 2px solid transparent;
  transition: .2s ease;
  padding-bottom: 2px;
}
.byline a:hover {
  color: #283037;
}
.byline span {
  position: relative;
  margin-right: 15px;
  padding-right: 10px;
  border-right: solid 1px #e8e8e8;
}
.byline span:last-child {
  border-right: none;
}
@media (max-width: 600px) {
  .byline span {
    margin-right: 6px;
    padding-right: 6px;
  }
}
.byline .avatar {
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
  min-width: 0;
}
.three-column .gallery-thumb .byline .avatar {
  display: none;
}
.featured-content-header .byline {
  border-bottom-color: #D8D8D8;
}
.featured-content-header .byline span {
  margin-right: 10px;
  padding-right: 5px;
  border-right-color: #D8D8D8;
}

.entry-header .sharedaddy {
  padding-top: 15px;
}
.entry-header .sharedaddy ul {
  margin-bottom: 0 !important;
}

.entry-header div.sharedaddy h3.sd-title {
  display: none;
}

.share-icons div.sharedaddy h3.sd-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #283037;
  line-height: 2.2;
}
.share-icons div.sharedaddy h3.sd-title.sans-serif, .sans-serif .share-icons div.sharedaddy h3.sd-title {
  font-family: "Noto Sans", "Helvetica", sans-serif;
}
.share-icons div.sharedaddy h3.sd-title:before {
  margin-bottom: 1.6em;
}

.entry-meta {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
@media (max-width: 600px) {
  .entry-meta {
    display: none;
  }
}

.entry-large .meta-list {
  margin: 0 0 20px 0;
  list-style-type: none;
  font-size: 12px;
  color: #848a96;
}
@media (max-width: 600px) {
  .entry-large .meta-list {
    margin-bottom: 12px;
  }
}
.entry-large .meta-list li {
  display: inline;
  vertical-align: top;
  margin-right: 3px;
}
.entry-large .meta-list strong {
  color: #283037;
  display: inline-block;
  width: 100%;
}
.entry-large .meta-list a {
  color: #66727D;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  background: #EAEAEA;
  padding: 5px 8px;
  border-bottom: none;
  position: relative;
  letter-spacing: 1px;
  transition: .07s ease-in-out;
}
@media (max-width: 600px) {
  .entry-large .meta-list a {
    font-size: 10px;
    padding: 4px;
  }
}
.entry-large .meta-list a:hover {
  color: #fff;
  background: #283037;
}

.meta-list {
  list-style-type: none;
}
.meta-list li {
  display: inline;
}

.post-meta {
  font-size: 14px;
  color: #66727D;
  border-top: solid 1px #eee;
  padding-top: 4%;
  margin-top: 4%;
}
@media (max-width: 800px) {
  .post-meta {
    padding-top: 6%;
    margin-top: 6%;
  }
}

.meta-column {
  display: inline-block;
  width: 28%;
  padding-right: 5%;
  vertical-align: top;
}
.meta-column:only-child {
  width: 50%;
}
@media (max-width: 800px) {
  .meta-column:only-child {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .meta-column {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: solid 1px #eee;
  }
  .meta-column:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .meta-column {
    margin-bottom: 6%;
  }
}
.meta-column span:not([class^="jp-related"]) {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 15px;
  color: #283037;
  font-weight: bold;
}
@media (max-width: 800px) {
  .meta-column span:not([class^="jp-related"]) {
    width: 100%;
    margin-bottom: 10px;
  }
}
.entry-content .meta-column a {
  border-bottom: none;
}

.meta-column-large {
  width: 42%;
}
@media (max-width: 800px) {
  .meta-column-large {
    width: 100%;
  }
}

.entry-content {
  vertical-align: top;
}

.post .contact-form {
  background: #f0f0f0;
  padding: 8%;
  position: relative;
}
.post .contact-form div {
  position: relative;
}

.entry-content a {
  color: #66727D;
  transition: .2s ease;
  border-bottom: dotted 1px #bbb;
}

.entry-content a:hover {
  color: #283037;
}

.entry-content a.no-underline,
.entry-content a.no-underline:hover {
  border-bottom: none;
}

/* --------------------------------------------------------------
16.0 Posts
-------------------------------------------------------------- */
.post {
  width: 100%;
  margin-bottom: 8%;
  display: inline-block;
  position: relative;
}

.one-column .post {
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .one-column .post {
    margin-bottom: 8%;
  }
}

.page .post,
.single .post:not(.featured-post) {
  margin-bottom: 0;
}

/* --------------------------------------------------------------
17.0 Footer
-------------------------------------------------------------- */
.site-footer {
  margin-top: 5%;
  padding: 4% 0;
  color: #62707c;
  border-top: solid 1px #e8e8e8;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  transition: .2s ease-in;
}
@media (max-width: 800px) {
  .site-footer {
    padding: 6% 0;
    margin-top: 8%;
  }
}

.category-drawer + .site-footer {
  margin-top: 0;
}

.single .site-footer {
  margin-top: 0;
}

.footer-padding {
  padding-top: 15%;
  transition: .2s ease-in;
  opacity: 0;
}

.site-footer a {
  color: #62707c;
}
.site-footer a:hover {
  color: #343e47;
}

.footer-bottom {
  display: inline-block;
  width: 100%;
}
@media (max-width: 800px) {
  .footer-bottom {
    text-align: center;
    font-size: 14px;
  }
}

.footer-navigation {
  display: inline-block;
  float: right;
}
@media (max-width: 800px) {
  .footer-navigation {
    width: 100%;
    float: none;
  }
}
.footer-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-navigation li {
  display: inline;
  margin-left: 15px;
}
@media (max-width: 800px) {
  .footer-navigation li {
    margin-left: 0;
    margin-right: 15px;
  }
}

@media (max-width: 800px) {
  .footer-navigation + .site-info {
    margin-top: 10px;
  }
}
.site-info {
  display: inline-block;
}

/* --------------------------------------------------------------
18.0 Attachments
-------------------------------------------------------------- */
.attachment .comments-area, .attachment .entry-meta, .attachment .post-navigation, .attachment .entry-footer {
  display: none;
}

/* --------------------------------------------------------------
19.0 Animations
-------------------------------------------------------------- */
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-24%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUpImage {
  -webkit-animation-name: fadeInUpImage;
  animation-name: fadeInUpImage;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6%, 0);
    transform: translate3d(0, 6%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6%, 0);
    transform: translate3d(0, 6%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-faster {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes smoothFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes smoothFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.background-effect {
  position: absolute;
  z-index: -999998;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: .2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.site-header-bg.background-effect {
  background-attachment: scroll;
}

#content .su-spoiler-title {
  font-size: inherit;
  font-weight: normal;
}

#content .su-button-style-default span {
  border: none;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides .featured-content-image img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

#primary #jp-relatedposts {
  padding: 0;
  margin: 0;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
  width: 100%;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span {
  width: auto;
  display: inline-block;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span.jp-relatedposts-post-title {
  width: 100%;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span.jp-relatedposts-post-context {
  margin-left: 5px;
}
#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span.jp-relatedposts-post-context:before {
  content: "\2014";
  margin-right: 5px;
}

#primary #jp-relatedposts h3.jp-relatedposts-headline {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #283037;
  line-height: 2.2;
}
@media (max-width: 800px) {
  #primary #jp-relatedposts h3.jp-relatedposts-headline {
    margin-bottom: 10px;
  }
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover {
  text-decoration: none;
  color: #283037;
}

#primary #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
  opacity: 1;
  margin-bottom: 1.3em;
  padding-right: 0;
}
#primary #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post:last-child {
  margin-bottom: 0;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
  text-decoration: none;
}

#primary #jp-relatedposts h3.jp-relatedposts-headline em {
  font-weight: bold;
}

#primary #jp-relatedposts h3.jp-relatedposts-headline em:before {
  display: none;
}

#primary #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {
  max-width: 50px;
  position: absolute;
  left: 0;
  top: 4px;
}

.jp-relatedposts-post-thumbs {
  padding-left: 62px;
  position: relative;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context,
#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
  opacity: 1;
  font-size: 12px;
}

#primary div.sharedaddy h3.sd-title:before {
  display: none;
}

#primary .share-icons {
  margin-bottom: -10px;
}
#primary .share-icons .sharedaddy {
  display: inline-block;
  clear: none;
  vertical-align: top;
  width: auto;
  margin-right: 30px;
}
@media (max-width: 800px) {
  #primary .share-icons .sharedaddy {
    width: 100%;
  }
}
#primary .share-icons .div.jetpack-likes-widget-wrapper {
  width: auto;
}

#primary .sd-content ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

#secondary #subscribe-email input[type="email"] {
  width: 100%;
}

.mc4wp-form label,
.mc4wp-form input[type="text"],
.mc4wp-form input[type="email"] {
  display: inline-block;
  width: 100%;
}
.mc4wp-form label {
  margin-bottom: 1.5em;
}

.mc4wp-response {
  margin-top: 1.4em;
}

/*
追記　2016.09.19 安江
*/

.customsocial li{
	float:left;
	list-style:none;
	padding-right:9px;
	}
	
	
/*CSS modification from here*/
@font-face {
    font-family: 'e_classic';
    src: url(inc/fontawesome/fonts/e_classic.ttf);
}


.site-header {
    position: relative;
    z-index: 5;
    padding: 0;
    margin-bottom: 3%;
}
.archive-header
{
	margin:0px;
}
.fixed-nav, .main-navigation
{
	box-shadow:none;
}
.site-description
{
	display:none;
}
.site-title a, .sans-serif .site-title
{
	font-size: 16px;
	color:#000;
	text-align:center;
}
.cat-name
{
	display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 5px;
	letter-spacing: 2px;
	
}
.entry-large .meta-list a
{
	color:#FFFFFF;
	letter-spacing: 2px;
	font-size: 14px;
}
.entry-meta.story, .entry-meta.interview, .entry-meta.labo, .entry-meta.events, .entry-meta.news
{
	background:none;
}
.cat-name.story, .story, .entry-meta.story .meta-list a
{
	background:#6CC6DE;
}
.cat-name.interview, .interview, .entry-meta.interview .meta-list a
{
	background:#6EBE81;
	
}
.cat-name.labo, .labo, .entry-meta.labo .meta-list a
{
	background:#F09DC1;
	
}
.cat-name.event, .event, .entry-meta.event .meta-list a
{
	background:#FFE100;
	
}
.cat-name.news, .news, .entry-meta.news .meta-list a
{
	background:#E84870;
	
}
#content .with-featured-image .container {
    padding-top: 1%;
}
.sort-list li {
    padding: 0 5px;
}
/*.site-title-wrap {
	display:none;
}*/
.customsocial ul
{
	margin:0 0 1.4em 0;
}
.contact-info, h1.entry-title.contact
{
	padding: 0 2%;
}
.post .contact-form {
    padding: 2%;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, select, #secondary #subscribe-email input[type="email"] {
    padding: 0px 15px;
}
.searchform input[type="text"]
{
padding: 12px 15px;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .comment-navigation a {
    padding: 5px 20px;
}
#main .contact-form input[type='text'], #main .contact-form input[type='email'] {
    margin-bottom: 2%;
}
#main .contact-form textarea {
    margin-bottom: 4%;
    width: 100%;
}
#content .with-featured-image .customsocial.container {
    margin: 0;
    padding: 0;
	margin-top:0
}
.customsocial li {
	margin-bottom:0;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
	padding-left:0;
}
.customsocial a {
    color: #283037;
    font-size: 0;
    margin-left: 5px;
    transition: .2s ease-in-out;
}
.customsocial a[href*="facebook.com"]:before {
    content: "\f230";
}
.customsocial a[href*="twitter.com"]:before {
    content: "\f081";
}
.customsocial a[href*="instagram.com"]:before {
    content: "\f16d";
}
.customsocial a[href*="facebook.com"]:hover:before {
    color: #44609d;
}
.customsocial a[href*="twitter.com"]:hover:before {
    color: #53B9FD;
}
.customsocial a[href*="instagram.com"]:hover:before {
    color: #78A6C5;
}

.customsocial a:before {
    font-family: "FontAwesome";
    font-size: 18px;
}

@media (max-width: 600px) {
.entry-large .entry-title, .page .entry-header .entry-title {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.4;
}
#page .alignleft {
    max-width: 100%;
    margin-right: 1em;
    width: 100%;
}
.entry-meta {
     display:block; 

}
.entry-large .meta-list {
    margin-top: 5px;
}
/*CSS modification ends here*/











