/*
Theme Name: Baseline
Theme URI: https://arraythemes.com/themes/baseline-wordpress-theme/
Author: Array
Author URI: https://arraythemes.com/
Description: Baseline is an elegant, magazine-style theme that lets you quickly and easily create a beautiful site with any content. Baseline includes one, two and three column layouts, a customizable logo and header, finely-crafted typography and a snappy featured content drawer.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: baseline
Domain Path: /languages/
Tags: two-columns, featured-image-header, featured-images, theme-options, custom-background, custom-colors, custom-menu, editor-style, featured-images, theme-options, translation-ready

(C) 2015 Array, Inc.
*/

/* --------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Form Elements
5.0 - Navigation
5.1 - Links
5.2 - Menus
5.3 - Social Menu
5.4 - Post Navigation
5.5 - Page Navigation
5.6 - Toggle Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Comments
11.0 - Infinite scroll
12.0 - Masonry
13.0 - Media
14.0 - Header
15.0 - Content
16.0 - Posts
17.0 - Footer
18.0 - Attachments
19.0 - Animations
-------------------------------------------------------------- */

/* Import Baseline Sass Variables (inc/sass/variables.scss) */
@import 'variables';

/* --------------------------------------------------------------
1.0 - Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fff;
	padding-top: 64px;
	position: relative;
	overflow-x: hidden;

	@include viewport(mobile) {
		padding-top: 50px;
	}
}

body.admin-bar {
	@media only screen and (max-width:600px) {
		position: static;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a img {
	border: 0;
}

/* --------------------------------------------------------------
2.0 Typography
-------------------------------------------------------------- */

body, button, input, select, textarea {
	color: $black;
	font-family: $body;
	font-weight: 400;
	font-size: 19px;
	line-height: 1.8;

	&.sans-serif,
	.sans-serif & {
		font-family: $body-sans;
	}

	@include viewport(tablet) {
		font-size: 18px;
	}

	@include viewport(mobile) {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $black;
	font-family: $title;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 3%;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}
}

h1 {
	font-size: 50px;

	@include viewport(mobile) {
		font-size: 40px;
	}
}

h2 {
	font-size: 40px;

	@include viewport(mobile) {
		font-size: 30px;
	}
}

h3 {
	font-size: 30px;

	@include viewport(mobile) {
		font-size: 24px;
	}
}

h4 {
	font-size: 22px;

	@include viewport(mobile) {
		font-size: 20px;
	}
}

h5 {
	font-size: 18px;

	@include viewport(mobile) {
		font-size: 16px;
	}
}

h6 {
	font-size: 16px;

	@include viewport(mobile) {
		font-size: 14px;
	}
}

p, .embed-vimeo {
	margin-bottom: 1.4em;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: $black;
	font-family: $title;
	font-size: 24px;
	line-height: 1.6;
	margin: 0 0 1.4em 0;
	position: relative;
	padding: 0 0 0 50px;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	&:before {
		background: url(images/screen-half.png);
		height: 20px;
		display: inline-block;
		width: 100%;

		@include viewport(mobile) {
			height: 18px;
		}
	}

	&:after {
		content: "\201C";
		font-family: Georgia, serif;
		font-weight: 400;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 60px;
		line-height: 1.1;

		@include viewport(mobile) {
			font-size: 48px;
			line-height: 1;
		}
	}

	@include viewport(mobile) {
		font-size: 18px;
		line-height: 1.5;
		padding-left: 10%;

		&:before {
			font-size: 65px;
			top: 10px;
		}
	}

	p {
		margin-bottom: 1em;
	}
}

.comments-area blockquote {
	border-left-color: #D7DEE5;
	font-family: $body;
	font-size: 18px;
	font-style: italic;

	.sans-serif & {
		font-family: $body-sans;
	}

	@include viewport(tablet) {
		font-size: 16px;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $lightgray;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.comments-area pre {
	background: #d7dee5;
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

.highlight {
	background: #fff198;
}

#page .grid-thumb .more-link {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	border-bottom: none;
	border-top: dotted 1px #ADBDCC;
	margin-top: 15px;
	padding-top: 15px;

	&:hover {
		color: #6F7F8D;
	}
}

#page .excerpt-more-link,
#page .more-link {
	font-weight: bold;
	color: $black;
	border: none;

	&:hover {
		color: $gray;
	}
}

/* --------------------------------------------------------------
3.0 Elements
-------------------------------------------------------------- */

hr {
	background-color: transparent;
	border: 0;
	border-bottom: dotted 1px #c7d6e4;
	height: 1px;
	margin: 1.6em 0;
}

ul, ol {
	margin: 0 0 1.4em 25px;
}

ul {
	list-style: circle;
}

ol {
	list-style: decimal
}

ul ul, ol ol, ul ol, ol ul {
	margin: .6em 0 .6em 1.5em;
}

.entry-content li {
	margin-bottom: 2%;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

/* Tables */
table {
	font-size: 18px;
	margin-bottom: 5%;
	padding: 0;
	width: 100%;

	@include viewport(tablet) {
		font-size: 18px;
	}

	@include viewport(mobile) {
		font-size: 16px;
	}
}

table thead {
	background: $lightgray;
	th {
		font-weight: bold;
	}
}

table td, #content table th {
	padding: 10px;
}

table td {
	border-bottom: solid 1px $lightgray;
}

table tr:last-child td {
	border-bottom: none;
}

table tr:nth-child(even) {
	background: $lightgray;
}

/* --------------------------------------------------------------
4.0 Form Elements
-------------------------------------------------------------- */

button,
input:not(input[type="radio"]),
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	-webkit-appearance: none;
	box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.comment-navigation a {
	background: $black;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: $body;
	font-size: 17px;
	font-weight: 600;
	padding: 14px 20px;
	-webkit-appearance: none;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	transition: .1s ease-in;

	.sans-serif & {
		font-family: $body-sans;
	}

	@include viewport(mobile) {

	}
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.comment-navigation a:hover {
	background: #37414A;
	color: #fff;
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
.button:focus,
.comment-navigation a:focus,
.comment-navigation a:hover {
	color: #fff;
	outline: none;
}

input[type="checkbox"], input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.searchform {
	position: relative;
}

.searchform #s {
	width: 100%;
	font-size: 16px;
}

.searchform #searchsubmit {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: transparent;
	color: #627083;
	padding: 14px 15px;
	font-size: 15px;

	i {
		-webkit-font-smoothing: antialiased;
		line-height: 1.5;
		font-size: 16px;
		vertical-align: top;
	}
}

@include viewport(tablet) {
	.searchform #searchsubmit span {
		display: none;
	}
}

.widget-area .searchform #searchsubmit span {
	display: none;
}

select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	width: 100%;
	-webkit-appearance: normal;
	box-sizing: border-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
#secondary #subscribe-email input[type="email"] {
	color: #7c8a96;
	background: #fff;
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 12px 15px;
	border: solid 1px #D4DDE5;
	border-radius: 2px;
  	-webkit-transition: .1s ease;
	-moz-transition: .1s ease;
	transition: .1s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
#secondary #subscribe-email input[type="email"]:focus {
	border: solid 1px #C5CDD5;
	outline: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

select {
	background: #fff url('images/angle-down.jpg') right no-repeat;
	background-size: 12px;
	background-position: right 15px top 20px;

	&:hover {
		border-color: #D5DDE4;
		cursor: pointer;
	}
}

select:after {
	content: "x";
}

@include viewport(tablet) {
	input[name="post_password"] {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: 10px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

::-webkit-input-placeholder {
	color: #97A7B5;
}

:-moz-placeholder {
	color: #97A7B5;
}

::-moz-placeholder {
	color: #97A7B5;
}

:-ms-input-placeholder {
	color: #97A7B5;
}

#main .contact-form {
	display: inline-block;
	width: 100%;

	label {
		font-weight: normal;
	}

	input[type='text'], input[type='email'] {
		margin-bottom: 4%;
		width: 100%;
		max-width: 100%;
	}

	textarea {
		margin-bottom: 4%;
		width: 98%;
	}

	.contact-submit {
		margin-bottom: 0;
	}
}

/* --------------------------------------------------------------
5.0 Navigation
-------------------------------------------------------------- */

/* --------------------------------------------------------------
5.1 Links
-------------------------------------------------------------- */

a {
	color: #62707c;
	text-decoration: none;

}

a:hover, a:focus, a:active {
	color: #343E47;
}

/* --------------------------------------------------------------
5.2 Menus
-------------------------------------------------------------- */

.slideout-menu {
    background: $lightgray;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    width: 40%;
    padding: 9% 5% 5% 5%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);

    @media only screen and (max-width:1200px) {
    	padding-top: 11%;
    }

    @include viewport(tablet) {
    	padding: 14% 5% 12% 5%;
    	width: 50%;
    }

    @include viewport(mobile) {
    	padding-top: 16%;
    	width: 100%;
    }
}

.admin-bar .slideout-menu {
    top: 32px;

    @media only screen and (max-width:782px) {
        top: 46px;
    }
}

.slideout-menu {
    transform: translateX(-100%);
    transition: transform .3s;

    @include viewport(mobile) {
    	transform: translateX(-100%);
    }

    .rtl & {
		transform: translateX(200%);
	}
}

.slideout-panel {
    position:relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    @include viewport(tablet) {
    	overflow: hidden;
	}
}

.slideout-open .slideout-menu {
    display: block;
    transform: translateX(0);
}

.menu-toggle {
	display: inline-block;
	position: relative;
	z-index: 20;

	i:before {
		content: "\f0c9";
	}
}

.menu-active {
	i:before {
		content: "\f00d";
	}
}

.main-navigation {
	text-align: center;
	font-size: 17px;
	font-family: $title;
	font-weight: 500;
	background: #fff;
	display: inline-block;
	width: 100%;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
	.menu > li {
		margin-bottom: -1px;
	}

	@include viewport(tablet) {
		display: none;
	}

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;

		.menu > li {
			margin-bottom: 0;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;

		a {
			padding: 25px 20px;
			display: inline-block;
			color: $black;
			-webkit-transition: .1s ease-in-out;
			-moz-transition: .1s ease-in-out;
			transition: .1s ease-in-out;

			&:hover {
				color: $gray;
				background: #343e47;
			}
		}
	}

	.menu-item-has-children > a:after {
		content: "\f107";
		font-family: "FontAwesome";
		margin-left: 6px;
	}

	.sub-menu .menu-item-has-children > a:after {
		content: "\f105";
		float: right;
	}

	.rtl & .sub-menu .menu-item-has-children > a:after {
		content: "\f104";
		float: left;
	}
}

.main-navigation .sub-menu,
.main-navigation .children {
    position: absolute;
    width: 265px;
    top: 80px;
    left: 0px;
	text-align: left;
	margin: 0;
	background: #343e47;
	z-index: 50;
	display: none;

	&:before {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $black;
		position: absolute;
		top: -5px;
		left: 20px;
		content: " ";
		display: none;

		@include viewport(tablet) {
			display: none;
		}
	}
}

.main-navigation li ul {
	z-index: 100;
}

.main-navigation li ul li {
	padding: 0;
	width: 100%;
}

.main-navigation li ul a,
.main-navigation li ul li a {
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px rgba(255,255,255,.1);
    padding: 20px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6;
    color: #fff;
    color: rgba(255,255,255,.8);
}

.main-navigation li ul a:hover,
.main-navigation li ul li a:hover {
	color: #fff;
}

.main-navigation li ul li ul {
    padding: 0;
}

.main-navigation ul ul {
	top: 0;
}

.main-navigation li ul ul.sub-menu,
.main-navigation li ul ul.children {
    left: 265px;
    top: 0;
    margin: 0;
    z-index: 20;
    position: absolute;
    border-left: solid 1px rgba(255,255,255,.1);

    &:before {
		display: none;
	}
}

.main-navigation .menu > li {
	margin-left: -5px;
}

.main-navigation li:hover > a {
	background: #343e47;
	color: #fff;
}

.main-navigation .sub-menu li:hover > a {
	background: rgba(0,0,0,.1);
}

.main-navigation li:hover > ul,
.main-navigation li li a:hover > ul {
	display: block;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.sidebar-navigation {
	font-size: 20px;
	font-family: $title;
	display: block;
	margin: 0;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	@include viewport(mobile) {
		font-size: 16px;
		font-weight: 500;
	}
}

.sidebar-navigation .menu {
	display: inline-block;
	width: 100%;
}

.sidebar-navigation ul {
	margin: 0 0 0 0;

	li {
		display: inline-block;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 10;

		a {
			color: $black;
			display: inline-block;
			width: 100%;
			padding: 12px 0;
			transition: .2s ease;
			border-bottom: dotted 1px #ccc;

			&:hover {
				color: $gray;
			}
		}
	}

	ul li {
		border-bottom-color: #B9B9B9;
	}

	&:not(.sub-menu) > li:last-child a {
		border-bottom: none;
	}
}

.sidebar-navigation .sub-menu,
.sidebar-navigation .children {
	margin: 0;
	padding: 0 5%;
	position: relative;
	z-index: 30;
	background: #E4E4E4;
	display: none;
	font-size: 16px;
}

.menu-item-has-children .toggle-sub {
	position: absolute;
	top: 0;
	right: 0;
	left: inherit;
	height: 98%;
	z-index: 20;
	width: 50px;
	display: block;
	text-align: center;
	line-height: 2.8;
	background: #E4E4E4;

	@include viewport(tablet) {
		font-size: 19px;
	}
}

.menu-item-has-children .toggle-sub:hover {
	cursor: pointer;
	color: $black;
}

.sub-menu .menu-item-has-children .toggle-sub {
	line-height: 3.2;
}

.site-header .menu-item-has-children:hover {
	cursor: pointer;
}

.drop-open > .sub-menu {
	display: block;
}

.mobile-menu {
	display: none;

	@include viewport(tablet) {
		display: inline-block;
		width: 100%;
	}
}

.sidebar-navigation > div:not(:last-child) {
	@include viewport(tablet) {
		&:after {
			content: " ";
			background: url(images/screen-half.png);
			height: 12px;
			display: inline-block;
			width: 100%;
		}
	}
}

/* --------------------------------------------------------------
5.3 Social Navigations
-------------------------------------------------------------- */

.social-navigation {
	display: inline-block;
	vertical-align: top;
	float: right;

	@include viewport(tablet) {
		float: none;
		width: 100%;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		display: inline;
	}

	a {
		color: $black;
		font-size: 0;
		margin-left: 5px;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		transition: .2s ease-in-out;

		&:before {
			font-family: "FontAwesome";
			font-size: 18px;
		}
	}

	@include viewport(tablet) {
		a {
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	a[href*="twitter.com"] {
		&:before {
			content: "\f081";
		}

		&:hover:before {
			color: #53B9FD;
		}
	}

	a[href*="facebook.com"] {
		&:before {
			content: "\f230";
		}

		&:hover:before {
			color: #44609d;
		}
	}

	a[href*="google.com"] {
		&:before {
			content: "\f0d4";
		}

		&:hover:before {
			color: #FC5B5B;
		}
	}

	a[href*="instagram.com"] {
		&:before {
			content: "\f16d";
		}

		&:hover:before {
			color: #78A6C5;
		}
	}

	a[href*="youtube.com"] {
		&:before {
			content: "\f166";
		}

		&:hover:before {
			color: #cc181e;
		}
	}

	a[href*="snapchat.com"] {
		&:before {
			content: "\f2ab";
		}

		&:hover:before {
			color: #444;
		}
	}

	a[href*="vimeo.com"] {
		&:before {
			content: "\f194";
		}

		&:hover:before {
			color: #aad450;
		}
	}

	a[href*="dribbble.com"] {
		&:before {
			content: "\f17d";
			line-height: 17px;
		}

		&:hover:before {
			color: #ec6196;
		}
	}

	a[href*="github.com"] {
		&:before {
			content: "\f092";
		}

		&:hover:before {
			color: #333333;
		}
	}

	a[href*="flickr.com"] {
		&:before {
			content: "\f16e";
		}

		&:hover:before {
			color: #fc4ca4;
		}
	}

	a[href*="codepen.com"] {
		&:before {
			content: "\f1cb";
		}

		&:hover:before {
			color: #333333;
		}
	}

	a[href*="behance.com"] {
		&:before {
			content: "\f1b5";
		}

		&:hover:before {
			color: #007fff;
		}
	}

	a[href*="dropbox.com"] {
		&:before {
			content: "\f16b";
		}

		&:hover:before {
			color: #349BE9;
		}
	}

	a[href*="pinterest.com"] {
		&:before {
			content: "\f0d3";
		}

		&:hover:before {
			color: #df252d;
		}
	}

	a[href*="reddit.com"] {
		&:before {
			content: "\f1a1";
		}

		&:hover:before {
			color: #333333;
		}
	}

	a[href*="soundcloud.com"] {
		&:before {
			content: "\f1be";
		}

		&:hover:before {
			color: #FF7500;
		}
	}

	a[href*="spotify.com"] {
		&:before {
			content: "\f1bc";
		}

		&:hover:before {
			color: #A5CE3F;
		}
	}

	a[href*="wordpress.com"] {
		&:before {
			content: "\f19a";
		}

		&:hover:before {
			color: #0085be;
		}
	}

	a[href*="mailto"] {
		&:before {
			content: "\f0e0";
			text-indent: -1px;
			font-size: 16px;
		}

		&:hover:before {
			color: #333333;
		}
	}

	a[href*="linkedin.com"] {
		&:before {
			content: "\f0e1";
		}

		&:hover:before {
			color: #24A5DD;
		}
	}

	a[href*="stackoverflow.com"] {
		&:before {
			content: "\f16c";
		}

		&:hover:before {
			color: #FF7500;
		}
	}

	a[href*="rss"], a[href*="feed"] {
		&:before {
			content: "\f09e";
			text-indent: 1px;
		}

		&:hover:before {
			color: #FF7500;
		}
	}
}

/* --------------------------------------------------------------
5.4 Post Navigations
-------------------------------------------------------------- */

.post-navigation {
	display: block;
	width: 100%;
	margin-top: 3%;
	position: relative;
	border-top: solid 1px #eee;
	text-align: center;

	@include viewport(mobile) {

	}

	.nav-post {
		display: inline-block;
		width: 50%;
		float: left;
		border-right: solid 1px #eee;
		color: $black;
		padding: 3% 5%;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		transition: .2s ease-in-out;

		@include viewport(tablet) {
			padding: 5%;
		}

		@include viewport(tablet) {
			padding: 8% 2%;
		}

		&:only-child {
			float: none;
			border-right: none;
		}

		@include viewport(tablet) {
			width: 100%;
			border-bottom: solid 1px #eee;
			border-right: none;
		}

		&:hover {
			background: #F9F9F9;
			cursor: pointer;
		}
	}

	a {
		vertical-align: top;
		display: inline-block;
	}

	.nav-title {
		font-size: 20px;
		line-height: 1.5;

		@include viewport(mobile) {
			font-size: 16px;
			padding: 5px 0;
		}

		a {
			color: $black;
			border-bottom: solid 1px transparent;

			&:hover {
				color: $black;
				border-bottom-color: #C9D4D8;
			}
		}
	}

	.nav-label,
	.nav-date {
		@include bold-uppercase;
		color: $gray;
	}

	.nav-label i {
		margin: 0 3px;
	}

	.nav-date {
		margin-bottom: 0;
		color: $gray;
	}
}

/* --------------------------------------------------------------
5.5 Page Navigation
-------------------------------------------------------------- */

.pagination {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-align: center;
	border-top: solid 1px #e8e8e8;
	padding: 5% 0;

	.content-area & .container {
		max-width: 100%;
	}

	a {
		color: $black;
	}

	a, span {
		background: $lightgray;
		padding: 8px 25px;
		transition: .2s ease-in-out;
		border-radius: 2px;
		display: inline-block;
		color: $gray;

		@include viewport(mobile) {
			padding: 10px 15px;
		}
	}

	.next,
	.prev {
		font-size: 0;

		&:after {
			font-family: "FontAwesome";
			font-size: 26px;
		}
	}

	.next {
		float: right;

		&:after {
			content: "\f105";
		}
	}

	.prev {
		float: left;

		&:after {
			content: "\f104";
		}
	}

	@include viewport(mobile) {
		.next,
		.prev {
			&:after {
				font-size: 17px;
			}
		}
	}
}

.infinite-scroll .pagination {
	display: none;
}

.page-numbers {
	font-size: 24px;
	font-weight: 400;

	@include viewport(mobile) {
		font-size: 17px;
	}
}

.page-numbers.current,
.page-numbers:hover {
	background: $black;
	color: #fff;
}

.paging-navigation {
	display: inline-block;
	width: 100%;
	text-align: center;

	a {
		display: block;
	}

	.nav-previous, .nav-next {
		display: inline-block;
		margin: 0 2px;
	}

	.nav-previous i {
		margin-right: 5px;
	}

	.nav-next i {
		margin-left: 5px;
	}

	.nav-previous .button:before {
		content: "\f0a8";
		font-family: "FontAwesome";
		margin-right: 10px;
	}

	.nav-next .button:after {
		content: "\f0a9";
		font-family: "FontAwesome";
		margin-left: 10px;
	}

	@include viewport(mobile) {
		.nav-previous, .nav-next {
			display: inline-block;
			float: left;
			margin-bottom: 10px;
			text-align: center;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* --------------------------------------------------------------
6.0 Accessibility
-------------------------------------------------------------- */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	margin: 0;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* --------------------------------------------------------------
7.0 Alignments
-------------------------------------------------------------- */

#page .alignleft {
	display: inline;
	float: left;
	margin: .5em 2em .5em 0;

	@include viewport(mobile) {
		max-width: 150px;
		margin-right: 1em;
	}
}

#page .alignright {
	display: inline;
	float: right;
	margin: .5em 0 1.5em 2em;

	@include viewport(mobile) {
		max-width: 150px;
		margin-left: 1em;
	}
}

#page .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.5em auto;
}

.wp-caption {
    margin: .5em 0 1.5em 0;
	max-width: 100%;
	text-align: left;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
	max-width: 100%;
}

.wp-caption-text, .gallery-caption {
	padding: 0;
	margin-top: 12px;
	width: 100%;
	color: $gray;
	text-transform: none;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	padding-left: 10px;
	border-left: solid 2px #e3eaf0;
	margin-bottom: 0;
}

#main .tiled-gallery {
	margin-bottom: 1.4em;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.entry-content & a {
		border: none;
	}
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.pull-right {
	float: right;
	margin: 0 0 2% 5%;
	text-align: right;
}

.pull-left {
	float: left;
	margin: 0 5% 2% 0;
}

.pull-right, .pull-left {
	color: $black;
	font-family: $title;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.4;
	width: 32%;

	&:before {
		content: " ";
		background: url(images/screen-half.png);
		height: 16px;
		display: inline-block;
		width: 100%;

		@include viewport(tablet) {
			height: 12px;
		}
	}

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	@include viewport(tablet) {
		font-size: 20px;
		width: 100%;
		margin: 0 0 5% 0;
		text-align: left;
		line-height: 1.5;
	}

	@include viewport(mobile) {
		font-size: 18px;
	}
}

.site-footer .tagcloud a {
	background: #424A55;
	color: #fff;
	padding: 6px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	transition: .1s ease-in;
}

.site-footer .tagcloud a:hover {
	background: #576571;
	color: #fff;
	cursor: pointer;
}

.sticky {
	width: auto;
}

/* --------------------------------------------------------------
8.0 Clearings
-------------------------------------------------------------- */

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
	content: '';
	display: table;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
	clear: both;
}

/* --------------------------------------------------------------
9.0 Widgets
-------------------------------------------------------------- */

.widget-area {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	float: right;
	font-size: 16px;
	position: relative;
	-webkit-backface-visibility: hidden;

	@include viewport(tablet) {
		width: 100%;
		float: none;
		margin-top: 8%;
	}
}

.widget-area a {
	color: $gray;

	&:hover {
		color: $black;
	}
}

.widget-area aside {
    display: inline-block;
    width: 100%;
    margin-bottom: 8%;
    vertical-align: top;
    position: relative;
    z-index: 10;
    -webkit-transform: translateZ(0);

    &:after {
		content: " ";
		background: url(images/screen-half.png);
		height: 12px;
		display: inline-block;
		width: 100%;
		margin-top: 10%;
		z-index: 10;
		-webkit-transform: translate3d(0,0,0);
	}

    &:last-child {
    	margin-bottom: 0;
    	padding-bottom: 0;

    	&:after {
    		display: none;
    	}
    }

    @include viewport(mobile) {
		margin-bottom: 8%;
	}
}

.widget-area aside:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.widget-area aside .widget-title,
.widget-area aside .widgettitle,
.widget-area .widget-grofile h4 a {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.6;
    position: relative;
    margin-bottom: 20px;

    @include viewport(tablet) {
        margin-bottom: 35px;
    }

    @include viewport(mobile) {
        margin-bottom: 20px;
    }
}

.widget-area .textwidget p:last-of-type {
	margin-bottom: 0;
}

.widget-area aside ul {
    margin: 0 0 0 0;
}

.widget-area aside ul.sub-menu,
.widget-area aside .children {
    margin: 4% 0 0 20px;
}

.widget-area aside ul.sub-menu li:last-child,
.widget-area aside .children li:last-child {
    margin-bottom: 0;
    padding-bottom: 2%;
    border-bottom: none;
}

.widget-area aside li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #ccc;
    list-style: none;
    position: relative;

  	&:before {
  		content: "\f0da";
  		font-family: "FontAwesome";
  		position: absolute;
  		left: -18px;
  		top: 3px;
  		color: #A1B0BD;
  		font-size: 12px;
  		display: none;
  	}
}

.widget-area aside li ul li {
	list-style: circle;
}

.widget-area aside li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

#calendar_wrap {
	background: #fff;
	border-right: none;
	border-bottom: none;
	color: $black;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px -1px;
}

#wp-calendar {
	font-size: 16px;
	margin: 0;
	max-width: 100%;
}

#wp-calendar caption {
	text-align: center;
	background: $lightgray;
	padding: 5px 10px;
	font-weight: bold;
}

#wp-calendar tr th, #wp-calendar tr td {
	text-align: center
}

#wp-calendar tr th {
	background: $black;
	color: #fff;
	margin: -10px -10px 10px -10px;
	font-size: 11px;
	font-weight: bold;
	padding: 10px 0;
}

#wp-calendar tbody tr td {
	padding: 2px 0;
	border-right: solid 1px #f3f3f3;
	border-top: solid 1px #f3f3f3;
}

#wp-calendar tfoot td {
	border-top: solid 1px #f3f3f3;
	border-right: solid 1px #eee;
	padding: 7px 0 5px 0;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

#wp-calendar a {
	color: $black;

	&:hover {
		color: $gray;
	}
}

.widget_rss {
	li {
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	li .rsswidget {
		display: inline-block;
		width: 100%;
	}

	.rss-date, cite {
		font-size: 14px;
		text-transform: uppercase;
		display: inline-block;
		margin: 10px 0;
	}
}

.widget-grofile {
	position: relative;
}

.widget .grofile-thumbnail {
	max-width: 90px;
	width: 90px;
	display: block;
	vertical-align: top;
	border-radius: 100px;
	margin: 0 auto 10px auto;
}

.grofile-meta {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.widget-area .widget-grofile h4 {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: .9;
	text-align: center;

	a {
		color: $black;

		&:hover {
			color: $gray;
		}
	}
}

.widget-area .grofile-meta + h4 {
	display: none;
}

.widget-area .grofile-links {
	margin-bottom: 20px;
}

.widget-area .grofile-links + p,
.widget-area .grofile-meta + p {
	margin-bottom: 0;
}

/* --------------------------------------------------------------
10.0 Comments
-------------------------------------------------------------- */

.comment-navigation {
	font-size: 16px;
	margin: 0 0 6% 0;

	.button {
		display: inline-block;
	}

	.button:empty {
		display: none;
	}

	.nav-previous a:before {
		content: "\f0a8";
		font-family: "FontAwesome";
		margin-right: 10px;
	}

	.nav-next a:after {
		content: "\f0a9";
		font-family: "FontAwesome";
		margin-left: 10px;
	}
}

.comments-area {
	background: $lightgray;
	display: block;
	margin: 0 auto;
	padding: 8% 0;
	overflow: hidden;
	width: 100%;
}

.page .comments-area {
	margin-top: 5%;
}

.comments-title {
	text-align: center;
	font-size: 36px;
	margin-bottom: 10%;

	@include viewport(mobile) {
		font-size: 22px;
	}

	span {
		border-bottom: solid 3px;

		@include viewport(mobile) {
			border-bottom-width: 2px;
		}
	}
}

#commentform {
	display: inline-block;
	width: 100%;
}

.comment-list #commentform {
	margin-top: 2%;
}

.comment-info {
	display: inline-block;
	margin-bottom: 1%;
}

.comment-content {
	font-size: 18px;

	@include viewport(tablet) {
		font-size: 16px;
	}
}

.bypostauthor {
	.comment-list .avatar:after {
		content: "\f007";
		font-family: "FontAwesome";
		font-size: 16px;
		margin-left: 1rem;
		position: relative;
		top: 0;
	}
}

.comment-list,
.comment-list li {
	margin: 0;
	counter-reset: li;
}

.comment-list > li {
	list-style-type: none;
	margin-bottom: 6%;
	padding-bottom: 6%;
	border-bottom: dotted 1px #C2C9D0;

	@include viewport(mobile) {
		margin-bottom: 8%;
		padding-bottom: 8%;
	}
}

.comment-list .children {
	margin: 6% 0 0 10%;
	li {
		margin-bottom: 6%;
		padding-bottom: 6%;
		border-bottom: dotted 1px #C2C9D0;

		&:first-child {
			border-top: dotted 1px #C2C9D0;
			padding-top: 6%;

			@include viewport(mobile) {
				padding-top: 9%;
			}
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.comment-list .children > li {
	list-style: none;
}

.comment-list .reply {
	margin-bottom: 0;

	a {
		color: #848a96;

		&:hover {
			color: $black;
		}
	}
}

.comment-list .avatar {
	display: inline-block;
	margin-right: 5%;
	border-radius: 100px;
	vertical-align: top;
	width: 8%;
}

.comment-wrap {
	display: inline-block;
	width: 84%;
	vertical-align: top;
}

.comment-cite {
	font-style: normal;
	display: inline-block;
	width: 100%;
	font-weight: 300;
	font-size: 24px;
	line-height: 1;
	font-family: $title;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	@include viewport(mobile) {
		font-size: 18px;
	}

	a {
		color: $black;
	}
}

.comment-time, .comment-edit-link {
	@include sans-uppercase;
	font-size: 12px;
	vertical-align: top;
}

.comment-reply-title {
	display: inline-block;
	font-size: 36px;
	margin-bottom: 6%;
	width: 100%;

	@include viewport(mobile) {
		font-size: 24px;
	}

	small {
		display: inline-block;
		float: right;
	}

	small a {
		@include sans-uppercase;
		vertical-align: top;
		padding-top: 18px;
		display: inline-block;

		&:hover {
			color: #EB5252;
		}

		@include viewport(mobile) {
			display: inline-block;
			margin-left: 0;
		}
	}
}

.comment-list .comment-reply-title {
	margin-bottom: 3%;
}

.logged-in-as, .comment-notes {
	margin-bottom: 2%;
	display: none;

	@include sans-uppercase;
}

.comment-notes {
	display: none;
}

.required {
	color: #F35959;
}

.logged-in-as a {
	color: $black;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
	display: inline-block;
	width: 100%;

	@include viewport(tablet) {
		width: 100%;
		margin-right: 0;
	}
}

.comment-list #respond {
	border-top: dotted 1px #C2C9D0;
	display: inline-block;
	margin-top: 4%;
	padding-top: 6%;
	width: 100%;
}

.comment-form-url {
	@include viewport(tablet) {
		margin-bottom: 1em;
	}
}

.comment-form label {
	color: $black;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	font-size: 18px;

	@include viewport(tablet) {
		float: none;
		width: 100%;
	}

	@include viewport(mobile) {
		font-size: 16px;
	}
}

.comment-form input:not([type='submit']), .comment-form textarea {
	width: 82%;
	font-size: 16px;
	float: right;

	@include viewport(tablet) {
		float: none;
		width: 100%;
	}
}

.form-submit {
	display: inline-block;
	margin: 0;
	width: 100%;
}

.comment-form #submit {
	width: auto;
	float: right;

	@include viewport(mobile) {
		margin: 0;
		width: 100%;
	}
}

.form-allowed-tags {
	display: none;
}

.comment-subscription-form {
	margin-bottom: 0;

	label {
		font-weight: normal;
		font-size: 14px;
	}
}

.comment-subscription-form {
	display: inline-block;
	width: 100%;
	line-height: 1.4;

	.subscribe-label {
		float: right;
		margin: 0;
	}
}

#respond .comment-form-fields div.comment-form-field {
	width: 100% !important;
}

.comment-awaiting-moderation {
	margin-top: 4%;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-style: normal;
}

.comment-awaiting-moderation:before {
	content: "\f06a";
	font-family: "FontAwesome";
	margin-right: 10px;
}

/* --------------------------------------------------------------
11.0 Infinite scroll
-------------------------------------------------------------- */

#infinite-handle {
	text-align: center;
	padding: 5% 15px 5% 15px;
	border-top: solid 1px #eee;

	@include viewport(mobile) {
		display: inline-block;
		width: 100%;

		span {
			width: 100%;
		}

		padding: 8% 15px 8% 15px;
	}
}

#page #infinite-handle span {
	display: inline-block;
    background: $black;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 20px;
    line-height: 1;
    letter-spacing: 0;
    border-radius: 2px;
    -webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	transition: .1s ease-in;

    &:hover {
    	background: #37414A;
    }

    button {
    	position: relative;

    	&:after {
    		content: "\f067";
    		font-family: "FontAwesome";
    		margin-left: 6px;
    		display: inline-block;
    		font-size: 13px;
    	}
    }
}

.infinite-scroll:not(.gallery-page) .paging-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle i {
	margin-right: 5px;
}

.spinner {
	left: 50% !important;
}

.infinite-loader {
	margin-bottom: 5%;
}

/* --------------------------------------------------------------
12.0 Masonry
-------------------------------------------------------------- */

.has-no-widgets .fixed-toggle {
	display: none;

	@include viewport(tablet) {
		display: inline-block;
	}
}

.fixed-toggle {
	font-weight: 700;
	font-size: 17px;
	font-family: $title;
	line-height: 1.8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	vertical-align: top;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	transition: .07s ease-in;
	position: relative;
	z-index: 50;

	@include viewport(mobile) {
		font-size: 15px;
	}

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	&:hover {
		cursor: pointer;
		opacity: .8;
	}

	i {
		width: 16px;
		text-align: center;
	}
}

.browse-button {
	display: inline-block;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 10;
	left: 0;
	right: 0;

	@include viewport(mobile) {
		left: auto;
		width: auto;
		right: 15px;
	}

	.fixed-toggle {
		display: inline-block;
	}

	i {
		font-size: 15px;
	}

	.fixed-toggle i:before {
		content: "\f150";
	}
}

.fixed-toggle.browse-active {
	i:before {
		content: "\f151";
	}
}

.category-drawer {
	background: $lightgray;
	padding: 120px 5% 3% 5%;
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 50;
	transform: translateY(-100%);
    transition: transform .3s;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);

    @media only screen and (max-width:1200px) {
    	padding-top: 100px;
	}

	@include viewport(mobile) {
		padding: 80px 15px 0 15px;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
    	-webkit-overflow-scrolling: touch;
	}

	.admin-bar & {
		padding-top: 160px;

		@media only screen and (max-width:1200px) {
			padding-top: 140px;
		}

		@include viewport(mobile) {
			padding-top: 130px;
		}
    }

	.post {
		-webkit-animation-name: fadeInUpImage;
		animation-name: fadeInUpImage;
		-webkit-animation-duration: .2s;
		animation-duration: .2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@include viewport(mobile) {
			margin-bottom: 8%;
			display: inline-block;
		}
	}

	&.drawer-open {
		transform: translateY(0);
	}
}

.category-drawer.footer-drawer {
	position: relative;
	top: auto;
	transform: none;
	box-shadow: none;
	padding-top: 4%;
	display: block;

	@include viewport(tablet) {
		padding-top: 8%;
		padding-bottom: 5%;
	}

	.admin-bar & {
		padding-top: 4%;

		@include viewport(tablet) {
			padding-top: 8%;
		}
    }
}

.single .category-drawer.footer-drawer,
.page .category-drawer.footer-drawer {
	background: linear-gradient(to bottom, #FBFBFB 0%, #f0f0f0 100%);
}

.post-loading {
	opacity: .5;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	transition: .1s ease-in;
}

.sort-list {
	margin: 0 0 5% 0;
	padding: 0;
	text-align: center;
	font-family: $title;

	@include viewport(mobile) {
		background: #fff;
		display: none;
		margin: 0 0 8% 0;

		.current-menu-item {
			font-weight: bold;
		}
	}

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	a {
		color: $black;

		@include viewport(mobile) {
			color: $gray;
			padding: 15px 0;
			width: 100%;
			display: inline-block;

			&:hover {
				color: $black;
			}
		}

		&:hover {
			color: $black;
		}
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 10px;
		font-size: 20px;
		line-height: 1.5;
		font-weight: 500;
		border-bottom: solid 2px transparent;
		-webkit-transition: .2s ease-in;
		-moz-transition: .2s ease-in;
		transition: .2s ease-in;

		@include viewport(tablet) {
			font-size: 18px;
		}

		@include viewport(mobile) {
			font-size: 17px;
			border-bottom: solid 1px #eee;
			width: 100%;
		}
	}

	.current-menu-item,
	li:hover {
		border-bottom-color: #343e47;

		@include viewport(mobile) {
			border-bottom-color: #eee;
			color: $black;

			a {
				color: $black;
			}
		}
	}

	a:active,
	a:focus {
		border: none;
		outline: none;
	}
}

.sort-list-toggle {
	display: none;
	margin-bottom: 7%;

	@include viewport(mobile) {
		display: inline-block;
		width: 100%;
	}

	i {
		margin-left: 3px;
	}
}

.sort-list-toggle:active,
.sort-list-toggle:focus,
.sort-list-toggle:hover {
	background: $black;
}

.featured-content {
	position: relative;
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 5% 5% 5%;
	border-bottom: solid 1px #eee;
	margin-bottom: 5%;

	@include viewport(tablet) {
		margin-bottom: 7%;
		padding-bottom: 7%;
	}

	.container {
		max-width: 100%;
		padding: 0;
	}

	.post {
		padding: 5% 0;
		margin-bottom: 0 !important;
		display: none;

		@include viewport(tablet) {
			padding: 50% 3% 3% 3% !important;
		}
	}

	.rslides1_on,
	.post:first-child {
		display: inline-block;
	}

	.background-effect {
		opacity: 1;
	}

	.without-featured-image {
		background: url(images/screen-half.png);
	}
}

.featured-content:empty {
	display: none;
}

.slide-navs {
	display: none;
}

.featured-content-header {
	position: relative;
	display: inline-block;
	width: 38%;
	float: right;
	z-index: 50;
	margin-right: 5%;

	@include viewport(tablet) {
		width: 100%;
		float: none;
	}

	.entry-header {
		@include viewport(mobile) {
			margin-bottom: 0;
		}
	}

	.entry-title {
		font-size: 42px;
		line-height: 1.3;

		@include viewport(tablet) {
			font-size: 36px;
		}

		@include viewport(mobile) {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 2%;
		}

		a {
			color: $black;

			&:hover {
				color: $black;
				border-bottom: solid 2px #C9D4D8;
			}
		}
	}

	.entry-content {
		font-size: 17px;

		@include viewport(mobile) {
			font-size: 16px;
			display: none;
		}
	}

	.more-bg {
		background: none;

		@include viewport(mobile) {
			font-size: 14px;
			display: none;
		}
	}

	#page & .more-link {
		background: none;
	}

	.avatar {
		@include viewport(mobile) {
			width: 20px;
		}
	}

	.byline {
		@include viewport(mobile) {
			border-bottom: none;
		}
	}
}

.featured-text {
	padding: 10%;
	background: #fff;
	background: rgba(255,255,255,.9);

	@include viewport(mobile) {
		padding: 3% 4%;
	}
}

.featured-nav {
	background: #fff;
	display: inline-block;
	width: 100%;
	padding: 0 0 0 10%;
	line-height: 2.4;
	border-bottom: solid 1px #ECECEC;

	@include viewport(mobile) {
		line-height: 2.8;
		background: rgba(255,255,255,.9);
		border-bottom-color: #D8D8D8;
		padding-left: 4%;
		line-height: 2;
	}

	.arrow-navs {
		width: 50%;
		float: right;
		text-align: right;
	}

	.arrow-link {
		font-size: 0;
		padding: 5px 20px;
		display: inline-block;
		text-align: center;
		background: $black;
		color: #B1BFCC;
		border-radius: 0;
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		transition: .2s ease-in-out;

		@include viewport(mobile) {
			padding: 0 25px;
			width: auto;
		}

		&:hover {
			color: #fff;
		}

		&:before {
			font-family: "FontAwesome";
			font-size: 20px;
			line-height: 1.8;
		}
	}

	.prev {
		border-right: solid 1px rgba(255,255,255,.15);
	}

	.prev:before {
		content: "\f104";
	}

	.next:before {
		content: "\f105";
	}
}

.featured-cat {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;

	@include viewport(mobile) {
		font-size: 11px;
	}

	a {
		color: $black;

		&:hover {
			color: $gray;
		}
	}
}

.small-header {
	.featured-text {
		display: none;
	}
}

.featured-posts .post {
	width: 20%;
	margin-bottom: 0;
	vertical-align: top;
	padding: 0 25px 0 0;
	float: left;

	@include viewport(mobile) {
		width: 100%;
		padding-right: 0;
		margin-bottom: 6%;
		display: inline-block;
	}

	.entry-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 2px;

		a {
			color: $black;

			&:hover {
				border-bottom-width: 2px;
			}
		}
	}

	.grid-date {
		font-size: 12px;
		color: $gray;
	}
}

@include viewport(tablet) {
	.featured-posts .grid-thumb.post {
		width: 46%;
		margin-bottom: 20px;
	}
}

.featured-posts .without-featured-image .grid-thumb-image {
	background: url(images/screen-half.png);
}

#pager-navs {
	list-style: none;
	margin: 0;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	background: #f0f0f0;
	display: none;

	@include viewport(tablet) {
		padding: 12px 0;
	}

	li {
		display: inline-block;
		font-size: 22px;
		margin: 0 5px;

		@include viewport(mobile) {
			font-size: 18px;
		}
	}

	.rslides_here i:before {
		content: "\f192";
		font-family: "FontAwesome";
	}

	a {
		color: $black;
	}

	a:focus,
	a:active {
		outline: none;
	}
}

.two-column .grid-wrapper,
.three-column .grid-wrapper {
	padding: 0 3%;

	@include viewport(tablet) {
		padding: 0;
	}
}

.gallery-wrapper {
	display: block;
	width: 100%;
	max-width: 100%;
	margin-bottom: 3%;

	@include viewport(tablet) {
		margin: 0 0 4% 0;
	}

	@include viewport(mobile) {
		margin: 0 0 6% 0;
		height: auto !important;
	}
}

.three-column .gallery-wrapper {
	margin: 0 0 4% 0;
}

.grid-thumb-image {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.gallery-thumb-image img {
	display: block;
	min-width: 100%;

	@media only screen and (max-width:770px) {
		opacity: 1;
		width: 100%;
	}
}

.new-infinite-posts .gallery-thumb img {
	opacity: 1;
}

.three-column .gallery-thumb {
	width: 33.3%;

	@media only screen and (max-width:1080px) {
		width: 49.5%;
	}

	@media only screen and (max-width:800px) {
		width: 100%;
	}
}

.two-column .gallery-thumb {
	width: 49.9%;

	@include viewport(tablet) {
		&:last-child {
			padding-bottom: 0;
		}
	}

	@media only screen and (max-width:800px) {
		width: 100%;
	}
}

.one-column .gallery-thumb {
	width: 100%;

	img {
		width: 100%;
	}
}

.gallery-thumb {
	display: inline-block;
	margin-bottom: 0 !important;
	padding: 0 2% 2% 2%;
	opacity: 0;
	background: #fff;

	@include viewport(tablet) {
		width: 50%;
		padding: 0 0 8% 0;
	}

	@include viewport(mobile) {
		position: relative !important;
		left: auto !important;
		top: auto !important;
		width: 100%;
		padding: 0 0 8% 0;
	}
}

.gallery-thumb-image {
	position: relative;
	overflow: hidden;
	display: block;

	@include viewport(tablet) {
		padding: 0 5%;
	}

	@include viewport(mobile) {
		padding: 0 15px;
	}
}

.fallback {
	width: 100%;
	min-width: 100%;
	min-height: 130px;
	background: url(images/screen-half.png);
	position: relative;
	z-index: 5;

	@include viewport(mobile) {
	}
}

#content .gallery-thumb .container {
	background: #fff;
	position: relative;
	z-index: 40;
	margin-top: -8%;
	padding: 4% 5% 5% 5%;
	width: 100%;
	max-width: 90%;

	.three-column & {
		margin-left: 15px;
		margin-right: 15px;
	}

	@include viewport(tablet) {
		max-width: 85%;
	}

	@include viewport(mobile) {
		padding: 4% 15px 5% 15px;
		max-width: 100%;
		margin-top: -6%;
	}
}

.gallery-thumb .entry-meta {
	font-size: 16px;
	color: $gray;

	@include viewport(mobile) {
		font-size: 14px;
	}

	span {
		background: #fff;
		padding-right: 10px;
	}
}

.more-bg {
	background: url(images/screen-half.png);
	line-height: .7;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;

	.more-link {
		background: #fff;
		padding-right: 10px;
		font-size: 16px;
		text-transform: uppercase;

		@include viewport(mobile) {
			font-size: 15px;
		}
	}
}

.gallery-thumb .entry-title,
.gallery-thumb.page .entry-header .entry-title {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
	margin-bottom: 2%;

	.three-column & {
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 2.5%;
	}

	a {
		color: $black;
		border-bottom: solid 2px transparent;
		transition: .1s ease-in-out;

		&:hover {
			color: $black;
			border-bottom-color: #C9D4D8;
		}
	}

	@include viewport(mobile) {
		font-size: 24px;
		line-height: 1.4;
	}
}

.gallery-thumb .entry-content {
	font-size: 17px;

	.three-column & {
		font-size: 16px;
	}

	@include viewport(mobile) {
		font-size: 16px;
	}
}

/* --------------------------------------------------------------
13.0 Media
-------------------------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery a img {
	border: none;
	height: auto;
	width: 100%;
	max-width: 100%;
}

.gallery dd, .gallery figcaption {
	font-size: 15px;
	text-align: left;
	margin: 0 0 15px 0;
	line-height: 1.5;
}

.gallery-item {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

embed, iframe, object {
	max-width: 100%;
}

#content .wp-playlist-light {
	color: #55626D;
	padding: 0;
}

#content .mejs-container, #content .mejs-embed, #content .mejs-embed body {
	background: none;
}

#content .mejs-container {
	margin-bottom: 1em;
	height: 75px !important;
}

#content .mejs-container a {
	border-bottom: none;

	&:hover {
		background: transparent;
	}
}

#content .wp-playlist {
	border: none;
	background: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#content .wp-playlist-tracks {
	margin-top: 3.5%;
}

#content .wp-playlist-item {
	border-bottom: dotted 1px #CAD1D8;
	padding: 0;

	&:last-child {
		border-bottom: none;
	}
}

#content .wp-playlist-item .wp-playlist-caption,
#content .wp-playlist-item-length {
	padding: 2%;

	@include viewport(tablet) {
		padding: 4%;
	}
}

#content .wp-playlist-item .wp-playlist-caption {
	color: $black;
	display: inline-block;
	border-bottom: none;

	&:hover {
		background: none;
		border-bottom: none;
	}
}

#content .wp-playlist-caption, #content .wp-playlist-item-title {
	font-size: 18px;

	@include viewport(tablet) {
		font-size: 16px;
	}
}

#content .wp-playlist-current-item {
	height: auto !important;

	.wp-playlist-caption {
		margin-bottom: 1.5%;
	}

	img {
		display: none;
	}

	.wp-playlist-item-title {
		color: $black;
		font-size: 30px;
		font-weight: 500;

		@include viewport(tablet) {
			font-size: 22px;
		}
	}

	.wp-playlist-item-album {
		font-size: 20px;

		@include viewport(tablet) {
			font-size: 16px;
		}
	}
}

#page .mejs-controls {
	background: #424a55;
	height: 75px;
	padding: 0 20px;

	@include viewport(tablet) {
		padding: 0 10px;
	}

	.mejs-button button:hover {
		background-color: transparent !important;
	}

	.mejs-time {
		height: 56px;
		padding-top: 18px;

		span {
			line-height: 40px;
		}
	}

	> div {
		height: 60px;
	}

	.mejs-time-rail {
		.mejs-time-loaded {
			background: #5E7383;
			height: 14px;
		}

		.mejs-time-current {
			background: #e3eaf0;
			height: 14px;
		}

		.mejs-time-total {
			background: #5E7383;
			height: 14px;
			margin: 26px 10px;
		}
	}

	.mejs-horizontal-volume-slider {
		.mejs-horizontal-volume-total {
			background: #5E7383;
			height: 14px;
			top: 29px;
		}
		.mejs-horizontal-volume-current {
			background: #e3eaf0;
			height: 14px;
			top: 29px;
		}
		.mejs-horizontal-volume-handle {
			background: #5E7383;
			height: 14px;
		}
	}

	.mejs-button button {
		margin: 29px 5px;

		&:focus {
			border: none;
			box-shadow: none;
			outline: none;
		}
	}
}

/* --------------------------------------------------------------
14.0 Header
-------------------------------------------------------------- */

.titles-wrap {
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	transition: .3s ease;
}

.fixed-nav {
	display: inline-block;
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0;
	z-index: 100;
	background: #fff;
	padding: 15px 0;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);

	@include viewport(mobile) {
		padding: 10px 0;
		height: 50px;
		position: absolute;
	}

	.admin-bar & {
		top: 32px;

		@media only screen and (max-width:782px) {
			top: 46px;
		}

		@media only screen and (max-width:600px) {

		}
	}
}

.headroom {
    transition: transform 400ms linear;
}

.headroom--unpinned {
    transform: translateY(-200%);
}

.headroom--pinned {
	position: fixed;
	top: 0;
	transform: translateY(0%);

	.admin-bar & {
		top: 32px;

		@media only screen and (max-width:782px) {
			top: 46px;
		}

		@media only screen and (max-width:600px) {
			top: 0;
		}
	}
}

.drawer-open + .headroom--unpinned {
	transform: translateY(0%) !important;
}

@media only screen and (max-width:600px) {
	.drawer-open + .headroom--pinned,
	.drawer-open + .headroom--unpinned,
	.drawer-open + .headroom--not-top {
		transform: translateY(0%) !important;
		position: fixed !important;
	}
}

.admin-bar .headroom--top {
	@media only screen and (max-width:600px) {
		position: absolute;
		top: 46px;
	}
}

.no-scroll {
	@include viewport(mobile) {
		overflow: hidden;
	}
}

.site-header {
	position: relative;
	z-index: 5;
	padding: 0;
	margin-bottom: 5%;
}

.site-title-wrap {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 100%;
	padding: 8% 5%;
	overflow: hidden;
	background: #343e47;

	@include viewport(mobile) {
		padding: 4% 0;
	}
}

.site-title {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 1.2;
	display: inline-block;
	width: 100%;
	font-family: $title;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.04em;

		@include viewport(tablet) {
			letter-spacing: -0.0250em;
		}
	}

	@include viewport(tablet) {
		font-size: 28px;
	}

	@include viewport(mobile) {
		font-size: 25px;
		letter-spacing: 0;
	}

	a {
		color: #fff;
		transition: .1s ease-in;

		&:hover {
			opacity: .9;
		}
	}
}

.site-description {
	color: #fff;
	font-family: $title;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	display: inline-block;
	opacity: .85;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	@include viewport(mobile) {
		font-size: 13px;
	}
}

.site-avatar {
	display: inline-block;
	text-align: center;
	width: 100%;
	vertical-align: top;

	img {
		border-radius: 500px;
		margin-bottom: 15px;
		width: 85px;
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.site-logo {
	line-height: 1;
	margin: 0;
	text-align: center;
	display: inline-block;
}

.site-logo:empty {
	margin: 0;
}

@include viewport(mobile) {
	.site-logo-link {
		text-align: center;
		width: 100%;
		display: inline-block;

		img {
			max-width: 100%;
		}
	}
}

.fixed-nav-right {
	position: absolute;
	right: 5%;
	top: 0;
	z-index: 20;

	.rtl & {
		left: inherit;
		right: 5%;
	}

	@include viewport(mobile) {
		display: none;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-left: 5px;
	}
}

.widget-area .social-navigation {
	float: none;

	li {
		list-style: none;
		display: inline-block;
		padding-right: 5px;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;

		a {
			color: $black;
			line-height: 1;
		}

		a:before {
			font-size: 26px;
		}
	}
}

.widget-area .social-widget {
	display: none;

	@include viewport(mobile) {
		display: inline-block;
	}
}

/* --------------------------------------------------------------
15.0 Content
-------------------------------------------------------------- */

.container {
	margin: 0 auto;
	padding: 0 5%;
	display: block;
	position: relative;

	@include viewport(mobile) {
		padding: 0 15px;
	}
}

.content-area .container {
	max-width: 70%;

	@include viewport(tablet) {
		max-width: 86%;
	}

	@include viewport(mobile) {
		max-width: 88%;
	}
}

#comments .container {
	max-width: 70%;

	@include viewport(tablet) {
		max-width: 100%;
	}
}

#content .with-featured-image .container {
	background-color: #fff;
    margin-top: -10%;
    position: relative;
    padding-top: 4%;

 	@include viewport(mobile) {
 		margin-top: 0;
 		max-width: 100%;
 	}
}

.page #content .post .container {
	padding-bottom: 6%;

	@include viewport(mobile) {
		padding-bottom: 10%;
	}
}

.single .without-featured-image .featured-image,
.one-column .without-featured-image .featured-image,
.page .without-featured-image .featured-image,
.error404 .featured-image {
	padding: 8% 0;
	background: url(images/screen-half.png);
	position: relative;
	margin-bottom: 0;
	margin-top: -5%;

	@include viewport(tablet) {

	}

	@include viewport(mobile) {
		padding: 4% 0;
		display: none;
	}
}

.error404 .searchform {
	margin-bottom: 1.4em;
}

.entry-header p:last-child {
	margin-bottom: 0;
}

.content-area {
	margin: 0 auto;
	display: block;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.fade-content {
	background: #ccc;

	.content-area {
		opacity: .15;
	}
}

.page-template-full-width .content-area {
	width: 100%;
}

.no-sidebar .content-area {
	margin: 0 auto;
	display: block;
}

.entry-content .page-links {
	display: inline-block;
	width: 100%;
	clear: both;
	margin: .8em 0 1.4em 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;

	a {
		border-bottom: none;

		&:hover {

		}
	}
}

.page-links-inside {
	display: inline-block;
	background: #fff;
	padding: 0 15px 0 0;
}

.featured-image,
.single .fallback {
	display: block;
	width: 100%;
	padding: 0 5% 0 5%;
	margin: 0 auto 1.5em auto;
	overflow: hidden;
	max-height: 1000px;
	position: relative;

	@include viewport(tablet) {}

	@include viewport(mobile) {
		margin-bottom: 0;
		padding: 0 15px 0 15px;
	}

	img {
		display: block;
		margin: 0 auto;
		-webkit-transform: translate3d(0,0,0);
		min-width: 100%;
	}
}

.featured-caption {
	position: absolute;
	bottom: 10%;
	z-index: 20;
	width: 100%;
	left: 0;
	right: 0;
}

.gallery-toggle {
	font-size: 20px;
	font-weight: 400;
	background: #1E2327;
	padding: .6em 1em;
}

.featured-video {
	margin-bottom: 1.5em;
	display: inline-block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}
}

body:not(.page-template-default) .home .content-area,
body:not(.page-template-default) .archive .content-area {
	width: 100%;
}

#page {
	display: block;
}

#main,
.comments-inside {
	margin: 0 auto;
	max-width: 1800px;
}

.site-content {
	display: block;
	width: 100%;
	padding: 0;

	@include viewport(mobile) {
		padding-top: 0;
	}
}

.entry-header {
	position: relative;
	margin-bottom: 4%;

	@include viewport(tablet) {
	}
}

.page .entry-header {
	margin-bottom: 1.4em;
}

.archive-header {
	margin-bottom: 6%;
	text-align: center;

	@include viewport(mobile) {
		margin: 2% 0 8% 0;
	}

	.container {

	}

	.entry-title {
		margin-bottom: 0;
		font-size: 32px;
		font-weight: 600;

		@include viewport(mobile) {
			font-size: 20px;
		}
	}

	.entry-content {
		margin-top: 10px;
		color: $gray;

		@include viewport(mobile) {
			font-size: 15px;
			margin-top: 2px;
		}
	}

	@include viewport(mobile) {
		#content & .container {
			max-width: 100%;
		}
	}

	.search-results & {

	}
}

.entry-title a {
	&:focus,
	&:active {
		outline: none;
	}
}

.entry-large .entry-title,
.page .entry-header .entry-title {
	font-family: $title;
	font-size: 58px;
	margin-bottom: 2.5%;
	line-height: 1.2;
	position: relative;

	.sans-serif & {
		font-family: $title-sans;
		letter-spacing: -0.0250em;
	}

	@include viewport(tablet) {
		font-size: 44px;
	}

	@include viewport(mobile) {
		font-size: 28px;
		margin-bottom: 8px;
		line-height: 1.4;
	}

	a {
		position: relative;
		z-index: 5;
		color: $black;
		text-decoration: none;
		border-bottom: solid 2px transparent;
		transition: .1s ease-in-out;

		&:hover {
			color: $black;
			border-bottom-color: #c9d4d8;
		}
	}
}

.byline {
	color: $gray;
	font-size: 14px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #E8E8E8;

	@include viewport(mobile) {
		display: inline-block;
		font-size: 12px;
	}

	a {
		color: $gray;
		border-bottom: 2px solid transparent;
		transition: .2s ease;
		padding-bottom: 2px;

		&:hover {
			color: $black;
		}
	}

	span {
		position: relative;
		margin-right: 15px;
		padding-right: 10px;
		border-right: solid 1px #e8e8e8;

		&:last-child {
			border-right: none;
		}

		@include viewport(mobile) {
			margin-right: 6px;
			padding-right: 6px;
		}
	}

	.avatar {
		border-radius: 50px;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -2px;
		min-width: 0;

		.three-column .gallery-thumb & {
			display: none;
		}
	}

	.featured-content-header & {
		border-bottom-color: #D8D8D8;

		span {
			margin-right: 10px;
			padding-right: 5px;
			border-right-color: #D8D8D8;
		}

		.avatar img {

		}
	}
}

.entry-header .sharedaddy {
	padding-top: 15px;

	ul {
		margin-bottom: 0 !important;
	}
}

.entry-header div.sharedaddy h3.sd-title {
	display: none;
}

.share-icons {
	div.sharedaddy h3.sd-title {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 15px;
		color: $black;
		line-height: 2.2;

		&.sans-serif,
		.sans-serif & {
			font-family: $body-sans;
		}
	}

	div.sharedaddy h3.sd-title:before {
		margin-bottom: 1.6em;
	}
}

.entry-meta {
	display: inline-block;
	width: 100%;
	vertical-align: top;

	@include viewport(mobile) {
		display: none;
	}
}

.entry-large .meta-list {
	margin: 0 0 20px 0;
	list-style-type: none;
	font-size: 12px;
	color: #848a96;

	@include viewport(mobile) {
		margin-bottom: 12px;
	}

	li {
		display: inline;
		vertical-align: top;
		margin-right: 3px;
	}

	strong {
		color: $black;
		display: inline-block;
		width: 100%;
	}

	a {
		color: $gray;
		text-transform: uppercase;
		font-weight: bold;
	    font-size: 10px;
	    background: #EAEAEA;
	    padding: 5px 8px;
	    border-bottom: none;
	    position: relative;
	    letter-spacing: 1px;
		-webkit-transition: .07s ease-in-out;
		-moz-transition: .07s ease-in-out;
		transition: .07s ease-in-out;

	    @include viewport(mobile) {
	    	font-size: 10px;
	    	padding: 4px;
	    }

		&:hover {
			color: #fff;
			background: $black;
		}
	}
}

.meta-list {
	list-style-type: none;

	li {
		display: inline;
	}
}

.post-meta {
	font-size: 14px;
	color: $gray;
	border-top: solid 1px #eee;
	padding-top: 4%;
	margin-top: 4%;

	@include viewport(tablet) {
		padding-top: 6%;
		margin-top: 6%;
	}
}

.meta-column {
	display: inline-block;
	width: 28%;
	padding-right: 5%;
	vertical-align: top;

	&:only-child {
		width: 50%;

		@include viewport(tablet) {
			width: 100%;
		}
	}

	@include viewport(tablet) {
		width: 100%;
		margin-bottom: 5%;
		padding-bottom: 5%;
		border-bottom: solid 1px #eee;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	@include viewport(mobile) {
		margin-bottom: 6%;
	}

	span:not([class^="jp-related"]) {
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 15px;
		color: $black;
		font-weight: bold;

		@include viewport(tablet) {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.entry-content & a {
		border-bottom: none;
	}
}

.meta-column-large {
	width: 42%;

	@include viewport(tablet) {
		width: 100%;
	}
}

.entry-content {
	vertical-align: top;
}

.post .contact-form {
	background: $lightgray;
	padding: 8%;
	position: relative;

	div {
		position: relative;
	}
}

.entry-content a {
	color: $gray;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	transition: .2s ease;
	border-bottom: dotted 1px #bbb;
}

.entry-content a:hover {
	color: $black;
}

.entry-content a.no-underline,
.entry-content a.no-underline:hover {
	border-bottom: none;
}

/* --------------------------------------------------------------
16.0 Posts
-------------------------------------------------------------- */

.post {
	width: 100%;
	margin-bottom: 8%;
	display: inline-block;
	position: relative;
}

.one-column .post {
	margin-bottom: 5%;

	@include viewport(tablet) {
		margin-bottom: 8%;
	}
}

.page .post,
.single .post:not(.featured-post) {
	margin-bottom: 0;
}

/* --------------------------------------------------------------
17.0 Footer
-------------------------------------------------------------- */

.site-footer {
	margin-top: 5%;
	padding: 4% 0;
	color: #62707c;
	border-top: solid 1px #e8e8e8;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	transition: .2s ease-in;

	@include viewport(tablet) {
		padding: 6% 0;
		margin-top: 8%;
	}
}

.category-drawer + .site-footer {
	margin-top: 0;
}

.single .site-footer {
	margin-top: 0;
}

.footer-padding {
	padding-top: 15%;
	-webkit-transition: .2s ease-in;
	-moz-transition: .2s ease-in;
	transition: .2s ease-in;
	opacity: 0;
}

.site-footer a {
	color: #62707c;

	&:hover {
		color: #343e47;
	}
}

.footer-bottom {
	display: inline-block;
	width: 100%;

	@include viewport(tablet) {
		text-align: center;
		font-size: 14px;
	}
}

.footer-navigation {
	display: inline-block;
	float: right;

	@include viewport(tablet) {
		width: 100%;
		float: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
		margin-left: 15px;

		@include viewport(tablet) {
			margin-left: 0;
			margin-right: 15px;
		}
	}
}

@include viewport(tablet) {
	.footer-navigation + .site-info {
		margin-top: 10px;
	}
}

.site-info {
	display: inline-block;
}

/* --------------------------------------------------------------
18.0 Attachments
-------------------------------------------------------------- */

.attachment {
	.comments-area, .entry-meta, .post-navigation, .entry-footer {
		display: none;
	}
}

/* --------------------------------------------------------------
19.0 Animations
-------------------------------------------------------------- */

@-webkit-keyframes slideInLeft {
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(-2%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(-24%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpImage {
	-webkit-animation-name: fadeInUpImage;
	animation-name: fadeInUpImage;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6%, 0);
    transform: translate3d(0, 6%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6%, 0);
    transform: translate3d(0, 6%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated-faster {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.background-effect {
    position: absolute;
    z-index: -999998;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: .2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-header-bg.background-effect {
    background-attachment: scroll;
}

#content .su-spoiler-title {
	font-size: inherit;
	font-weight: normal;
}

#content .su-button-style-default span {
	border: none;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides .featured-content-image img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

#primary #jp-relatedposts {
	padding: 0;
	margin: 0;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
	width: 100%;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span {
	width: auto;
	display: inline-block;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span.jp-relatedposts-post-title {
	width: 100%;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span.jp-relatedposts-post-context {
	margin-left: 5px;

	&:before {
		content: "\2014";
		margin-right: 5px;
	}
}

#primary #jp-relatedposts h3.jp-relatedposts-headline {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 15px;
	color: $black;
	line-height: 2.2;

	@include viewport(tablet) {
		margin-bottom: 10px;
	}
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
	&:hover {
		text-decoration: none;
		color: $black;
	}
}

#primary #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
	opacity: 1;
	margin-bottom: 1.3em;
	padding-right: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
	text-decoration: none;
}

#primary #jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: bold;
}

#primary #jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

#primary #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {
	max-width: 50px;
	position: absolute;
	left: 0;
	top: 4px;
}

.jp-relatedposts-post-thumbs {
	padding-left: 62px;
	position: relative;
}

#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context,
#primary #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
	opacity: 1;
	font-size: 12px;
}

#primary div.sharedaddy h3.sd-title:before {
	display: none;
}

#primary .share-icons {
	margin-bottom: -10px;

	.sharedaddy {
		display: inline-block;
		clear: none;
		vertical-align: top;
		width: auto;
		margin-right: 30px;

		@include viewport(tablet) {
			width: 100%;
		}
	}

	.div.jetpack-likes-widget-wrapper {
		width: auto;
	}
}

#primary .sd-content ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

#secondary #subscribe-email input[type="email"] {
	width: 100%;
}

.mc4wp-form {
	label,
	input[type="text"],
	input[type="email"] {
		display: inline-block;
		width: 100%;
	}

	label {
		margin-bottom: 1.5em;
	}
}

.mc4wp-response {
	margin-top: 1.4em;
}